<div class="sidebar">

    <div class="sidebar__logo">
        <router-link :to="{ path: '/'}"><img src="../../../../assets/images/logo.png" alt=""></router-link>
    </div>

    <div class="sidebar__search form">
        <form v-on:submit.prevent="search()">
            <input type="text" class="searching" name="search" v-model="query.search" :placeholder="$t('nav.search.input')">
            <button class="fa fa-search"></button>
        </form>
    </div>

    <ul class="sidebar__filters">
        <li v-t="'sidebar.recommended'" v-on:click="setCategory('recommended')"></li>
        <li v-t="'sidebar.peek'" v-on:click="setCategory('peek')"></li>
        <li v-t="'sidebar.favorite'" v-on:click="setCategory('favourites')"></li>
    </ul>

    <ul class="sidebar__performers nomar nopad" v-on:scroll="onScroll">
        <li class="sidebar__performer" v-for="performer in performers" v-on:click="goToPerformer(performer.advert_numbers[0].advertNumber)">
            <div class="sidebar__performer-image col-xs-5 nopad">
                <img v-if="performer.avatar" :src="`//img.thuis.nl/files/pimg/${performer.id}/medium/${performer.avatar.name}`">
                <span></span>
                <div class="sidebar__performer-services">
                    <i title="" class="fa fa-video-camera"></i>
                    <i title="" class="fa fa-phone"></i>
                    <i title="" class="fa fa-mobile"></i>
                    <i title="" class="fa fa-envelope-o"></i>
                </div>
            </div>
            <div class="sidebar__performer-info col-xs-7">
                <h3 ng-bind="performer.nickname"></h3>
                <p>{{ performer.age }} {{ $t('sidebar.age') }}</p>
                <p>{{ performer.location.split('/')[2] }}</p>
                <p class="view"> {{ $t('sidebar.view') }} <i class="fa fa-chevron-right"></i></p>
            </div>
        </li>
        <!--<li class="sidebar__performer">
            <h3 class="text-center" v-t="$t('sidebar.noperformers')"></h3>
        </li>-->
    </ul>

    <div class="sidebar__toggle visible-xs">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </div>

</div>