<div class="sidebar">

    <div class="sidebar__content">

        <div class="sidebar__content-top">

            <div class="sidebar__content-logo">
                <router-link :to="{ path: '/'}"><img :src="logo" alt=""></router-link>
            </div>

            <div class="sidebar__content-user" v-on:click="authenticated ? account() : login()">
                <span class="name">{{ authenticated ? user.username : 'Anoniem' }}</span>
                <span>{{ $t('sidebar.currentcredits') }}</span>
                <span class="credits">{{ authenticated ? user.credits : '0' }}</span>
            </div>

            <div class="sidebar__content-search form">
                <form v-on:submit.prevent="search()">
                    <input type="text" class="searching" name="search" v-model="query.search" :placeholder="$t('nav.search.input')">
                    <button class="fa fa-search"></button>
                </form>
            </div>

            <ul class="sidebar__content-filters">
                <li v-t="'sidebar.recommended'"  v-if="!isVoyeurActive" :class="{ 'active': category === 'recommended' }" v-on:click="setCategory('recommended')"></li>
                <li v-t="'sidebar.peek'" :class="{ 'active': category === 'peek' }" v-on:click="setCategory('peek')"></li>
                <li v-t="'sidebar.favorite'" :class="{ 'active': category === 'favourites' }" v-on:click="setCategory('favourites')"></li>
                <li v-t="'sidebar.voyeur'" v-if="isVoyeurActive" :class="{ 'active': category === 'voyeur' }" v-on:click="setCategory('voyeur')"></label></li>
            </ul>

        </div>

        <div class="sidebar__content-bottom">

            <ul class="sidebar__performers nomar nopad" v-on:scroll="onScroll">
                
                <!-- Performerlist -->
                <li class="sidebar__performer" v-if="category !== 'voyeur'" v-for="performer in performers" v-on:click="goToPerformer(performer.advert_numbers[0].advertNumber)">
                    <div class="sidebar__performer-image col-xs-5 nopad">
                        <img v-if="performer.avatar" :src="`//img.thuis.nl/files/pimg/${performer.id}/medium/${performer.avatar.name}`">
                        <span class="status busy"></span>
                        <div class="sidebar__performer-services">
                            <i v-for="service in services" v-if="hasService(performer.id, service)" :class="'fa fa-' + service"></i>
                        </div>
                    </div>
                    <div class="sidebar__performer-info col-xs-7">
                        <h3>{{ performer.nickname }}</h3>
                        <p>{{ performer.age }} {{ $t('sidebar.age') }}</p>
                        <p class="view"> {{ $t('sidebar.view') }} <i class="fa fa-chevron-right"></i></p>
                    </div>
                </li>
                
                <!-- Voyeurlist -->
                <li class="sidebar__voyeur" v-if="category === 'voyeur'" v-for="tile in voyeurTiles" v-on:click="swap(tile.performer)">
                    <span class="status busy"></span>
                    <jsmpeg
                        :wowza="tile.streamData.wowza"
                        :playStream="tile.streamData.playStream">
                    </jsmpeg>
                    <div class="sidebar__voyeur-misc">
                        <span class="sidebar__voyeur-misc-advert">{{ performer(tile.performer).advert_numbers[0].advertNumber }}</span>
                        <span class="sidebar__voyeur-misc-favorite">
                            <i class="fa fa-star" :class="{ 'is-favourite': performer(tile.performer).isFavourite }"></i>
                        </span>
                    </div>
                    <div class="sidebar__voyeur-hover">
                        <a class="btn btn-black btn-small btn-icon" v-if="performer(tile.performer).performerStatus === 'AVAILABLE' && performer(tile.performer).performer_services.cam" v-on:click="">
                            <i class="online"></i>{{ $t('voyeur.now1on1') }}
                        </a>
                        <a class="btn btn-black btn-small btn-icon" v-if="performer(tile.performer).performerStatus !== 'AVAILABLE' && performer(tile.performer).performer_services.cam"  v-on:click="reserve(tile.performer)">
                            <i class="reserve"></i>{{ isReserved(tile.performer) ? $t('voyeur.cancelReservation') : $t('voyeur.reserve') }}
                        </a>
                    </div>
                </li>

                <!-- No performers -->
                <li class="sidebar__performer" v-if="performers.length === 0 && category !== 'voyeur'">
                    <h3 class="text-center" v-t="$t('sidebar.noperformers')"></h3>
                </li>
            </ul>
            
        </div>

    </div>
    
    <div class="sidebar__toggle hidden-md hidden-lg" v-on:click="toggleSidebar">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </div>
</div>