//
// Sidebar
// --------------------------------------------------

// Imports

@import "../../../../styles/_mixins.scss";
@import "../../../../styles/_settings.scss";

// Styling

$sidebar-width: 250px;
$sidebar-top-height: 315px;

.sidebar {
    position: fixed;
    top: 0;
    z-index: 999;
    left: -$sidebar-width;
    height: 100%;
    width: $sidebar-width;
    background: $pallete-17;
    width: $sidebar-width;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;

    @include breakpoint(md) {
        position: relative;
        display: table-cell;
        vertical-align: top;
        left: 0;
    }

    &__content {
        display:table;
        height: 100%;
        height: 100vh;
        width: $sidebar-width;

        // Alignmend

        &-top { 
            display: table;
            vertical-align: top;
            width: $sidebar-width;
            height: $sidebar-top-height;

            &.collapse { height: calc(#{$sidebar-top-height} - 97px)}
        }

        &-bottom { 
            display: table;
            vertical-align: top;
            width: $sidebar-width;
            height: calc(100% - #{$sidebar-top-height});

            &.collapse { height: calc(100% - #{$sidebar-top-height} + 97px);}
        }

        // Components

        &-logo {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            a {
                display: block;
                @include rem(padding, 15px 40px);
                //holiday@include rem(padding, 0px 40px);
                cursor: pointer;
                img { display: table; @include rem(margin, auto auto); }
            }
        }

        &-user {
            position: relative;
            display: block;
            height: 141px;
            @include rem(margin, 5px 11px 0px 11px);
            @include rem(padding, 8px 10px);
            background: linear-gradient(to bottom, #151515 0%, #010101 100%);
            color: $pallete-7;
            @include rem(font-size, 13px);
            @include border-radius(5px);
            cursor: pointer;
            overflow: hidden;

            &.collapse {
                height: 44px;
            }
    
            &:before {
                position: absolute;
                top: 10px;
                right: 10px;
                color: $pallete-16;
                font: normal normal normal 60px/1 FontAwesome;
                content: "\f007";
                z-index: 0;
            }
    
            .name {
                position: relative;
                display: block;
                height: 25px;
                overflow: hidden;
                z-index: 1;
                @include rem(font-size, 18px);
                @include rem(margin, 0px 0px 5px 0px);
                font-weight: 600;
                color: #fff;
            }

            .resize{
                position: absolute;
                z-index: 2;
                @include rem(padding, 8px 10px);
                background: $pallete-11;
                @include border-radius(5px);
                right: 0px;
                top: 0px;
                color: $pallete-3;
                font: normal normal normal 22px/1 FontAwesome;
                &:before {
                    content: "\f068";
                }

                &.collapse {
                    &:before {
                        content: "\f067";
                    }
                }
            }
    
            .credits {
                position: relative;
                display: inline-block;
                clear: both;
                z-index: 1;
                line-height: 120%;
                color: $pallete-2;
                @include rem(font-size, 18px);
                @include rem(margin, 10px 5px 10px 0px);
                font-weight: 600;
                @include rem(padding,9px 25px 11px 25px);
                background: $pallete-3;
                @include border-radius(2px);
            }
        }

        &-search {
            position: relative;
            @include rem(padding, 0px 10px 0px 10px);
            
            input[type=text] {
                @include border-radius(5px);
                @include rem(padding, 8px 10px);
                background: $pallete-13 !important;
                color: $pallete-2 !important;
            }
    
            button {
                position: absolute;
                color: $pallete-14;
                right: 15px;
                top: 15px;
                border: none;
                background: none;
                @include rem(font-size, 20px);
                &:focus {
                    outline: none;
                }
            }
        }

        &-filters {
            display: table;
            list-style: none;
            @include rem(margin, 1px auto);
            @include rem(padding, 0 10px);
            li {
                color: $pallete-7;
                @include rem(font-size, 11px);
                font-weight: 600;
                display: inline-block;
                @include border-radius(5px);
                @include rem(margin, 0px 5px 0px 0px);
                @include rem(padding, 10px 4.5px);
                border: 1px solid $pallete-16;
                background: $pallete-13;
                cursor: pointer;
    
                &.active {
                    color: $pallete-2;
                    background: $pallete-3;
                }

                &.favo {
                    @include rem(padding, 10px 5.5px);
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 69px;
        left: 250px;

        &-icon {
            height: 50px;
            width: 50px;
            color: $pallete-2;
            background: $pallete-3;
            @include border-top-right-radius(5px);
            @include border-bottom-right-radius(5px);
            cursor: pointer;
            @include rem(margin,0px 0px 10px 0px);
            &.black { background: rgba(0, 0, 0, 0.6); }
            a {
                display: table;
                height: 100%;
                width: 100%;
                color: $pallete-2;
                &:hover { color: $pallete-2; }
            }
        }

        i {
            @include rem(padding,5px 12px);
            @include rem(font-size, 41px);
            &.fa-home { 
                @include rem(padding, 13px);
                @include rem(font-size, 25px); 
            }
        }
    }


    &__performers {
        position: absolute;
        width: $sidebar-width;
        height: calc(100% - #{$sidebar-top-height});
        list-style: none;
        overflow: auto;

        &.collapse { height: calc(100% - #{$sidebar-top-height} + 97px);}
    }

    &__performer {
        display: table;
        width: 100%;
        @include rem(padding, 13px);
        border-top: 1px solid $pallete-16;
        border-bottom: 1px solid $pallete-13;
        cursor: pointer;

        &:first-child { border-top: none; }

        &-services {
            position: absolute;
            top: 0;
            background: $pallete-11;
            width: 20px;
            height: 100%;
            i {
                text-align: center;
                width: 100%;
                @include rem(font-size, 6px);
                color: $pallete-2;
                transform: scale(1.5);
                &.fa-videocall {
                    transform: scale(0.5);
                }
            }
        }

        &-image {
            position: relative;
            overflow: hidden;
            border: 2px solid transparent;

            img { width: 100%; }
        }

        &-info {
            h3 {
                @include rem(margin, 15px 0px 0px 0px);
                @include rem(padding, 0px);
                color: $pallete-7;
                @include rem(font-size, 15px);
            }

            p {
                @include rem(margin, 0px);
                @include rem(padding, 0px);
                color: $pallete-18;
                @include rem(font-size, 12px);

                &.view {
                    line-height: 280%;
                    color: $pallete-7;
                }
            }
        }

        &:hover {
            background: $pallete-13;

            .sidebar__performer-image { border: 2px solid $pallete-3; }
            .sidebar__performer-info p.view { color: $pallete-3; }
        }
    }

    &__voyeur {
        position: relative;
        display: table;
        width: calc(100% - 20px);
        @include rem(margin, 10px);
        cursor: pointer;

        .jsmpeg {
            width: 230px;
        }

        .nanocosmos, .janus {
            display: block;
            width: 230px !important;
            height: 187px !important;
            &__loading {
                display: none;
            }
        }

        &-click {
            position: absolute;
            left: 0;
            height: 140px;
            z-index: 999;
            top: 0px;
            width: 230px;
        }

        &-misc {

            &-advert {
                position: absolute;
                z-index: 2;
                left: 3px;
                bottom: 3px;
                background: $pallete-9;
                color: $pallete-3;
                font-weight: 700;
                @include rem(font-size, 16px);
                @include rem(padding, 2px 5px);
                @include rem(margin, 4px);
                @include border-radius(3px);
            }

            &-favorite {
                position: absolute;
                z-index: 2;
                right: 3px;
                bottom: 3px;
                background: $pallete-9;
                @include rem(padding, 4px 6px);
                @include rem(margin, 4px);
                @include border-radius(3px);
                i {
                    color: $pallete-7;
                    @include rem(font-size, 16px);
                }

                .is-favourite {
                    color: #ffb400;
                }
            }
        }

        &-hover {
            position: absolute;
            z-index: 1;
            bottom:0px;
            display: block;
            height: 50px;
            width: 100%;

            .btn {
                &.btn-icon {
                    position: relative;
                    display: table;
                    @include rem(padding, 12px 10px 11px 35px);
                    @include rem(margin, 5px auto);
                    max-width: 121px;
                    line-height: 88%;
                    height: 36px;

                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 100%;
                        line-height: 180%;
                        @include rem(padding, 13px 4px);
                        background: black;
                        font: normal normal normal 12px/1 FontAwesome; 
                        @include border-left-radius(3px);

                        &.reserve { background: $pallete-19; &:before { content: "\f017"; } }
                        &.online { background: $pallete-12; &:before { content: "\f03d"; } }
                    }
                }
            }
        }
    }
}

.sidebar__performers::-webkit-scrollbar { 
    display: none; 
}
