//
// Sidebar
// --------------------------------------------------

// Imports

@import "../../../../styles/_mixins.scss";
@import "../../../../styles/_settings.scss";

// Styling

$sidebar-width: 250px;
$sidebar-top-height: 300px;

.sidebar {
    position: relative;
    z-index: 999;
    margin-left: -$sidebar-width;
    width: $sidebar-width;
    background: $pallete-17;
    width: $sidebar-width;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;

    &.collapse {
        margin-left: 0px;
    }

    @include breakpoint(md) {
        margin-left: 0px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: $sidebar-width;

        // Alignmend

        &-top { 
            width: $sidebar-width;
            height: $sidebar-top-height;
        }

        &-bottom { 
            display: table;
            width: $sidebar-width;
            height: calc(100% - #{$sidebar-top-height});
        }

        // Components

        &-logo {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            a {
                display: block;
                @include rem(padding, 15px 40px);
                cursor: pointer;
            }
        }

        &-user {
            position: relative;
            display: block;
            @include rem(margin, 11px);
            @include rem(padding, 8px 10px);
            background: linear-gradient(to bottom, #151515 0%, #010101 100%);
            height: 105px;
            color: $pallete-7;
            @include rem(font-size, 13px);
            @include border-radius(5px);
            cursor: pointer;
    
            &:before {
                position: absolute;
                top: 10px;
                right: 10px;
                color: $pallete-14;
                font: normal normal normal 60px/1 FontAwesome;
                content: "\f007";
                z-index: 0;
            }
    
            .name {
                position: relative;
                display: block;
                height: 25px;
                overflow: hidden;
                z-index: 1;
                @include rem(font-size, 18px);
                @include rem(margin, 0px 0px 5px 0px);
                font-weight: 600;
                color: #fff;
            }
    
            .credits {
                position: relative;
                display: table;
                z-index: 1;
                color: $pallete-2;
                @include rem(font-size, 18px);
                @include rem(margin, 8px 0px 0px 0px);
                font-weight: 600;
                @include rem(padding, 3px 10px);
                background: $pallete-3;
                @include border-radius(2px);
            }
        }

        &-search {
            position: relative;
            @include rem(padding, 0px 10px 0px 10px);
            
            input[type=text] {
                @include border-radius(5px);
                @include rem(padding, 8px 10px);
                background: $pallete-13 !important;
            }
    
            button {
                position: absolute;
                color: $pallete-14;
                right: 15px;
                top: 15px;
                border: none;
                background: none;
                @include rem(font-size, 20px);
                &:focus {
                    outline: none;
                }
            }
        }

        &-filters {
            list-style: none;
            @include rem(margin, 0px 0px 10px 0px);
            @include rem(padding, 0 10px);
            li {
                color: $pallete-7;
                @include rem(font-size, 12px);
                font-weight: 600;
                display: inline-block;
                @include border-radius(5px);
                @include rem(padding, 8px 6.8px);
                border: 1px solid $pallete-16;
                background: $pallete-13;
                cursor: pointer;
    
                &.active {
                    color: $pallete-2;
                    background: $pallete-3;
                }
            }
        }
    }

    &__toggle {
        position: absolute;
        top:5px;
        right: -50px;
        height: 50px;
        width: 50px;
        color: $pallete-2;
        background: $pallete-3;
        @include border-top-right-radius(5px);
        @include border-bottom-right-radius(5px);
        cursor: pointer;

        i {
            @include rem(padding,5px 10px);
            @include rem(font-size, 41px);
            &.fa-angle-double-left { @include rem(padding,5px 10px); }
            &.fa-angle-double-right { @include rem(padding,5px 14px); }
        }
    }


    &__performers {
        position: absolute;
        width: $sidebar-width;
        height: calc(100% - #{$sidebar-top-height});
        list-style: none;
        overflow: auto;
    }

    &__performer {
        display: table;
        width: 100%;
        @include rem(padding, 13px);
        border-top: 1px solid $pallete-16;
        border-bottom: 1px solid $pallete-13;
        cursor: pointer;

        &:first-child { border-top: none; }

        &-services {
            position: absolute;
            top: 0;
            background: $pallete-11;
            width: 20px;
            height: 100%;
            i {
                text-align: center;
                width: 100%;
                @include rem(font-size, 6px);
                color: $pallete-2;
                transform: scale(1.5);
                &.fa-videocall {
                    transform: scale(0.5);
                }
            }
        }

        &-image {
            position: relative;
            overflow: hidden;
            border: 2px solid transparent;

            img { width: 100%; }

            span {
                position: absolute;
                bottom: 5px;
                right: 10px;
                display: block;
                @include rem(margin, 2px 0);
                float: right;
                width: 14px;
                height: 14px;
                background: $pallete-12;
                @include border-radius(14px);
            }
        }

        &-info {
            h3 {
                @include rem(margin, 15px 0px 0px 0px);
                @include rem(padding, 0px);
                color: $pallete-7;
                @include rem(font-size, 15px);
            }

            p {
                @include rem(margin, 0px);
                @include rem(padding, 0px);
                color: $pallete-18;
                @include rem(font-size, 12px);

                &.view {
                    line-height: 280%;
                    color: $pallete-7;
                }
            }
        }

        &:hover {
            background: $pallete-13;

            .sidebar__performer-image { border: 2px solid $pallete-3; }
            .sidebar__performer-info p.view { color: $pallete-3; }
        }
    }
}

.sidebar__performers::-webkit-scrollbar { 
    display: none; 
}
