<main class="account">
    <div class="container-fluid">
        <div class="account__sidebar hidden-xs col-sm-3">
            <div class="account__sidebar-welcome">
                {{ $t('nav.info.welcome') }} {{ user.username }}
            </div>
            <div class="account__sidebar-credits">
                <span v-t="'account.currentcredits'"></span>
                <p>{{ user.credits }}</p>
            </div>

            <ul class="account__sidebar-list">
                <li class="subitem"><router-link :to="{ name: 'Editdata'}"><i class="fa fa-pencil"></i><span v-t="'nav.info.editdata'"></span></router-link></li>
                <li class="subitem"><router-link :to="{ name: 'Inbox'}"><i class="fa fa-envelope-o"></i><span v-t="'nav.info.inbox'"></span></router-link></li>
                <li class="subitem"><router-link :to="{ name: 'History'}"><i class="fa fa-clock-o"></i><span v-t="'nav.info.history'"></span></router-link></li>
                <li class="subitem"><router-link :to="{ name: 'Giftvoucher'}"><i class="fa fa-gift"></i><span v-t="'nav.info.giftvoucher'"></span></router-link></li>
                <li class="subitem"><router-link :to="{ name: 'Payment'}"><i class="fa fa-suitcase"></i><span v-t="'nav.info.upgradebalance'"></span></router-link></li>
            </ul>
        </div>

        <div class="account__view col-xs-12 col-sm-9">
            <router-view/>
        </div>
    </div>
</main>