//
// Account
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.account {
    &__sidebar {
        display: block;
        @include rem(margin, 40px 0px 40px 0px);
        padding: 0 !important;
        border: 1px solid $pallete-13;

        &-welcome {
            @include rem(font-size, 24px);
            @include rem(padding, 10px);
            font-weight: 700;
            color: $pallete-2;
            background: $pallete-13;
            border-bottom: 1px solid $pallete-14;
        }

        &-credits {
            display: table;
            width: 100%;
            color: $pallete-2;
            background: $pallete-13;
            text-align: right;

            span {
                display: block;
                @include rem(font-size, 13px);
                color: $pallete-2;
                width: 100%;
                @include rem(padding, 10px 10px 0px 0px);
            }

            p {
                display: block;
                @include rem(font-size, 24px);
                font-weight: 700;
                color: $pallete-3;
                @include rem(padding, 0px 10px 8px 0px);
                @include rem(margin, 0px);
            }
        }

        &-list {
            @include rem(margin, 0px);
            @include rem(padding, 0px);
            li {
                list-style: none;
                border-bottom: 1px solid $pallete-13;
                @include rem(padding, 10px);
                a {
                    @include rem(font-size, 13px);
                    color: $pallete-2;

                    i {
                        @include rem(padding, 0px 10px 0px 0px);
                    }
                }
            }
        }
    }

    &__view {

        h1 {
            display: table;
            width: 100%;
            @include rem(font-size, 24px);
            font-weight: 500;
            @include rem(padding, 10px 0px);
            color: $pallete-2;
            border-bottom: 1px solid $pallete-18;
            i { 
                @include rem(margin-right, 10px);
            }
        }

        h3 {
            @include rem(font-size, 14px);
            color: $pallete-2;
            @include rem(padding, 0px 0px);
        }

        p {
            display: inline-block;
            color: $pallete-7; 
        }

        i { 
            font-style: normal;
            color: $pallete-3; 
        }

        .colum {
            display: table;
            width: 100%;
            background: $pallete-11;
            color: $pallete-7;
            @include rem(padding, 10px);
            border: 2px solid rgba(125, 106, 109, 0.12);
        }

        &-table {
            width: 100%;
            tr {
                cursor: pointer;
                &.even {
                    background: $pallete-17;
                }
            }
            th {
                @include rem(padding, 0px 10px);
                text-align: left;
                &:last-child {
                    text-align: right;
                }
            }

            td {
                vertical-align: middle;
                @include rem(padding, 10px);

                i { 
                    @include rem(font-size, 18px);
                    color: $pallete-3; 
                    @include rem(padding, 0px 10px 0px 5px);
                }

                span {
                    display: block;
                    width: 100%;
                    color: $pallete-18; 
                    @include rem(font-size, 13px);
                }

                p {
                    margin: 0;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }

        &-list {
            float: left;
            clear: both;
            width: 100%;
            list-style: none;
            @include rem(padding, 0px 0px);
            background: $pallete-11;
            border: 1px solid rgba(255, 255, 255, 0.1);
            li {
                color: $pallete-18; 
                @include rem(padding, 10px 10px 10px 10px);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                &:last-child { border-bottom: none; }
                cursor: pointer;
                &:hover {
                    color: $pallete-3; 
                }
            }
        }

        @include breakpoint(xs) {
            padding: 0 !important;
        }
    }
    
}
