<div class="emoticons">
    <div class="container-fluid">
        <ul class="emoticons__cat">
            <li v-for="cat in emoticonCategories" :key="cat">
                <a><i :class="`icon-${cat}`" v-on:click="selectCategory(cat)"></i></a>
            </li>
        </ul>
        <div class="emoticons__list">
            <i v-for="index in emoticons[selectedCategory]" :key='index' class="e1a-med" :class="'e1a-'+ index" v-on:click="selectEmoji(index)">
            </i>
        </div>
    </div>
</div>