<div class="container-fluid">
    <h1>
        <i class="fa fa-pencil hidden-xs"></i><span v-t="'nav.info.editdata'"></span>
    </h1>
    <div class="form">
        <form class="row" v-on:submit.prevent="updateUser">
            <div class="col-xs-12 col-sm-6">
                <div class="form__group">
                    <label v-t="'account.username'"></label>
                    <input type="text" required v-model="user.username" class="col-xs-12" maxlength="30">
                </div>
                <div class="form__group">
                    <label v-t="'account.password'"></label>
                    <input type="password" v-model="user.password" class="col-xs-12">
                </div>
                <div class="form__group">
                    <label v-t="'account.confirmpassword'"></label>
                    <input type="password" v-model="confirmPassword" class="col-xs-12">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form__group">
                    <label v-t="'account.email'"></label>
                    <input type="email" v-model="user.email" v-validate="'email'" name="email" class="col-xs-12">
                    <span v-show="errors.has('email')" class="form__group-alert" v-t="'account.alerts.errorinvalidEmail'"></span>
                </div>  
                <div class="form__group">
                    <label v-t="'account.mobilenumber'"></label>
                    <input type="text" v-model="user.mobile_number" v-validate="{ regex: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g }" name="phone" class="col-xs-12">
                    <span v-show="errors.has('phone')" class="form__group-alert" v-t="'account.alerts.errorinvalidPhone'"></span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form__group">
                    <button class="btn btn-orange" v-t="'account.editdatabtn'"></button>
                </div>
            </div>
        </form>
    </div>
</div>