<div class="container-fluid">
    <h1>
        <i class="fa fa-pencil hidden-xs"></i><span v-t="'nav.info.editdata'"></span>
    </h1>
    <div class="form">
        <form class="row" v-on:submit.prevent="updateUser">
            <div class="col-xs-12" v-if="confirmDelete">
                <div class="account__view-alert">
                    <p v-t="'account.removeuser-approval'"></p>
                    <a class="btn btn-right" v-on:click.prevent="confirmDelete = false" v-t="'account.no'"></a>
                    <a class="btn btn-white btn-right" v-on:click.prevent="removeUser(false)" v-t="'account.yes'"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form__group">
                    <label v-t="'account.username'"></label>
                    <input type="text" required v-model="user.username" class="col-xs-12" maxlength="30">
                </div>
                <div class="form__group">
                    <label v-t="'account.password'"></label>
                    <input type="password" v-model="user.password" class="col-xs-12">
                </div>
                <div class="form__group">
                    <label v-t="'account.confirmpassword'"></label>
                    <input type="password" v-model="confirmPassword" class="col-xs-12">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form__group">
                    <label v-t="'account.email'"></label>
                    <input type="text" required v-model="user.email" class="col-xs-12">
                </div>
                <div class="form__group">
                    <label v-t="'account.mobilenumber'"></label>
                    <input type="text" v-model="user.mobile_number" class="col-xs-12">
                </div>
                <div class="form__group">
                    <label v-t="'account.pushmessages'"></label>
                    <input id="checkbox1" type="checkbox" :checked="pushcrewSubscribed" v-on:click.prevent="subscribePushMessages">
                    <label for="checkbox1"></label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form__group">
                    <button class="btn btn-orange" v-t="'account.editdatabtn'"></button>
                </div>
            </div>
        </form>
        <hr></hr>
        <div class="text-right">
            <p v-html="$t('account.removeuser')"></p>
            <a v-on:click.prevent="removeUser(true)" v-html="$t('account.here')"></a>
        </div>
    </div>
</div>