<div class="confirmations">

    <div class="confirmations__content" v-if="type === 'loader'">
        <h2>{{ $t('confirmations.connect') }}</h2>
        <img class="spinner" src="../../assets/images/spinner.gif" >
        <p>{{ $t('confirmations.connectdesc') }}</p>
        <a class="btn btn-large btn-full btn-black" v-on:click="cancel">{{ $t('confirmations.cancel') }}</a>
    </div>

    <div class="confirmations__content" v-if="type === 'dialog'">
        <h2>{{ $t(title) }}</h2>
        <p>{{ $t(subTitle) }}</p>
        <a class="btn btn-large btn-orange btn-full" v-on:click="accept">{{ $t('confirmations.accept') }}</a>
        <a class="btn btn-large btn-full btn-black" v-on:click="cancel">{{ $t('confirmations.cancel') }}</a>
    </div>

    <div class="confirmations__content" v-if="type === 'flashNagger'">
        <h2>{{ $t('profile.flash.no') }}</h2>
        <a href="//www.adobe.com/go/getflashplayer" target="_blank"><img alt="Get Adobe Flash player" src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" /></a>
        <p>{{ $t('profile.flash.checktext') }}</p>
        <a class="btn btn-large btn-orange btn-full" href="//www.adobe.com/go/getflashplayer" target="_blank" v-on:click="accept">{{ $t('profile.flash.enable')}}</a>
    </div>

</div>