<div class="nav">
    <div class="container-fluid">
        <ul class="nav__info hidden-xs col-sm-1">
            <li class="nav__info-item pull-left"><a href="/"><i class="fa fa-home only"></i></a></li>
        </ul>

        <div class="nav__search col-xs-12 col-sm-5 nopad">
            <form class="nav__search-form" v-on:submit.prevent="search">
                <input type="text" class="col-xs-7 col-sm-9" v-model="searchQuery" :placeholder="$t('nav.search.input')">
                <button class="fa fa-search"></button>
            </form>
        </div>

        <ul class="nav__info col-xs-12 col-sm-6">
            <li class="nav__info-item nav__info-item--last">
                <a>
                    <span :class="'flag flag-' + language"></span> {{ language.toUpperCase() }}
                </a>
                <ul class="nav__info-subitems">
                    <li class="subitem" v-for="lang in acceptedLanguages" v-on:click="changeLanguage(lang)">
                        <span :class="`flag flag-${lang}`"></span> {{ lang.toUpperCase() }}
                    </li>
                </ul>
            </li>
            <li class="nav__info-item nav__info-item--last">
                <a v-on:click="login">
                    <i class="fa fa-user"></i>
                    <span class="hidden-xs">{{ authenticated ? user.username : $t('nav.info.login') }}</span>
                </a>
                <ul class="nav__info-subitems" v-if="authenticated">
                    <li class="subitem" v-t="'nav.info.editdata'"></li>
                    <li class="subitem" v-t="'nav.info.inbox'"></li>
                    <li class="subitem" v-t="'nav.info.upgradebalance'"></li>
                    <li class="subitem"  v-t="'nav.info.logout'" v-on:click="logout"></li>
                </ul>
            </li>
            <li class="nav__info-item">
                <a href="#"><i class="fa fa-star"></i><span class="hidden-xs" v-t="'nav.info.favourites'"></span></a>
            </li>
            <li class="nav__info-item">
                <a href="#"><i class="fa fa-bullhorn"></i><span class="hidden-xs" v-t="'nav.info.actions'"></span></a>
            </li>
            <li class="nav__info-item">
                <a href="#"><i class="fa fa-eye"></i><span class="hidden-xs" v-t="'nav.info.voyeur'"></span></a>
            </li>
        </ul>
    </div>

    <div class="nav__filters">
        <div class="container-fluid">
            <router-link v-for="category in categories" :key="category.slug" :to="{ name: 'Performers', params: { category: category.slug } }">{{ category.title }}</router-link>
        </div>
    </div>
</div>
