//
// Header nav
// --------------------------------------------------

// Imports

@import "../../../../styles/_mixins.scss";
@import "../../../../styles/_settings.scss";

// Styling

.nav {
    position: relative;

    &__wrap {
        position: relative;
        z-index: 1;
        @include gradient($pallete-3, $pallete-5, vertical);
        border-bottom: 1px solid #ec5401;
        @include breakpoint(xs) {
            height: 130px;
        }
    }


    &__search {
        padding: 0px 5px !important;
        &-form {
            width: 100%;
            height: 36px;
            line-height: 35px;
            background: $pallete-13;
            @include border-radius(5px);
            @include rem(margin, 6px 0px);
            @include rem(padding, 2px);
            @include rem(font-size, 13px);

            input {
                display: inline-block;
                float: left;
                height: 32px;
                @include rem(padding, 0px 8px);
                color:$pallete-2;
                background: none;
                border: none;
                outline: none;
            }

            button {
                display: inline-block;
                height: 32px;
                width: 35px;
                color: rgba(255,255,255,0.6);
                @include rem(font-size, 16px);
                line-height: 30px;
                float: right;
                background: none;
                border: none;
                outline: none;
            }
        }
    }

    &__logo {
        padding: 12.5px 5px 0px 0px !important;
        img { 
            display: table-cell;
            vertical-align: middle;
            width: 100%; 
            max-width: 115px; 
            margin: 0 auto;
        }
    }

    &__info {
        margin: 0;
        @include rem(padding, 5px 0px);
        padding: 5px 0 !important;

        &-item {
            position: relative;
            display: inline-block;
            @include rem(padding, 5px 5px);
            @include border-radius(2px);
            line-height: 200%;
            border: 1px solid transparent;
            @include rem(font-size, 13px);
            color: $pallete-1;

            &:hover, &:active {
                background: $pallete-8;
                color: $pallete-1;
                text-decoration: none;
            }

            &:focus {
                 color: $pallete-1;
            }

            i {
                display: inline-block;
                @include rem(padding, 0px 5px 0px 2px);
                @include rem(font-size, 18px);
                color: $pallete-9;
                &.only {
                    @include rem(margin, 4px 0 0 0);
                }

                .notify {
                    position: absolute;
                    top: -12px;
                    right: -10px;
                    width: 18px;
                    height: 18px;
                    @include border-radius(18px);
                    line-height: 190%;
                    text-align: center;
                    color: $pallete-2;
                    font-weight: 700;
                    @include rem(font-size, 11px);
                    background: $pallete-11;
                }
            }

            span i {
                @include rem(padding, 0px 0px 0px 0px);
            }

            
            @include breakpoint(xs) {
                width: 58px;
                text-align: center;
                @include rem(padding, 10px 5px);
                @include rem(font-size, 11px);

                i {
                    text-align: center;
                    @include rem(font-size, 26px);
                    margin: 0 auto;
                }


                &.visible-xs {
                    display: inline-block !important;
                }
            }

            &--last {
                &:hover {
                    position: relative;
                    @include border-top-radius(3px);
                    color: $pallete-0;
                    background: $pallete-4;
                    &:hover, &:active {
                        background: $pallete-4;
                        color: $pallete-1;
                        text-decoration: none;
                    }

                    &:focus {
                        color: $pallete-1;
                    }

                    .nav__info-subitems {
                        display: block;
                    }
                }

                .flag {
                    @include rem(margin, -10px 0px);
                    @include breakpoint(xs) {
                        @include rem(margin, -5px 0px);
                    }
                }
            }
        }

        &-container { 
            float: right; 
            width: auto; 
            @include breakpoint(xs) {
                float: none;
                display: table;
                margin: 0 auto;
                width: auto;
            }
        }

        &-subitems {
            position: absolute;
            display: block;
            top: 36px;
            right: -1px;
            min-width: 160px;
            z-index: 0;
            list-style: none;
            margin: 0;
            @include rem(padding, 3px);
            background: $pallete-4;

            @include breakpoint(xs) {
                top: 72px;
            }

            .subitem {
                display: block;
                @include rem(padding, 8px);
                @include rem(font-size, 12px);
                @include border-radius(2px);
                line-height: 220%;
                color: $pallete-1;
                cursor: pointer;

                &:hover {
                    background: $pallete-10;
                    color: $pallete-1;
                }

                .flag {
                    float: left;
                    @include rem(margin, -5px 8px 0px 0px);
                }
            }
        }
    }

    &__filters {
        display: table;
        width: 100%;
        background: $pallete-6;

        a {
            display: inline-block;
            @include rem(padding, 7px 10px);
            color: $pallete-2;
            font-weight: 400;
            @include rem(font-size, 13px);
            cursor: pointer;

            &:hover, &:focus {
                background: $pallete-10;
                color: $pallete-2;
            }

            &.active {
                font-weight: 600;
            }
        }

        @include breakpoint(xs) {
            position: absolute;
            z-index: 0;
            top: -508px;
            -webkit-transform:translateY(-200%);
            -moz-transform:translateY(-200%);
            transform:translateY(-100%);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;

            .container-fluid {
                padding: 0;
            }

            a {
                display: block;
                width: 100%;
                @include rem(padding, 12px 10px);
            }

            &.visible {
                top: 130px;
                -webkit-transform:translateY(0px);
                -moz-transform:translateY(0px);
                transform:translateY(0px);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
