<div class="tabs__servicescontent col-xs-12">
    <div class="tabs__servicescontent-method full">
        <h2>{{ $t('tabs.calltitle') }} <span>Naughty Patty</span></h2>
        <p v-t="'tabs.calldesc'"></p>

        <div class="numbers" v-if="$parent.info"><i :class="'flag flag-' + $parent.info.country"></i> {{ $parent.activeCampaign.number }} <span>({{ $parent.activeCampaign.cpm | euro }} {{ $t('top.numbers.pm') }})</span></div>
        <div class="numbers" v-if="$parent.branding"><i class="flag flag-be"></i> 0907-23000 <span>(€1.25 pm)</span></div>

        <p><span v-html="$t('tabs.callmenu1')"></span> <i>4348</i> <span v-t="'tabs.callmenu2'"></span></p>
        <h3>{{ $t('tabs.callbyebye') }} <span>Naughty Patty</span></h3>
    </div>
</div>