<div class="tabs__servicescontent col-xs-12">
    <div class="tabs__servicescontent-method full" v-if="$parent.info.phone_enabled === 1">
        <h2>{{ $t('tabs.calltitle') }} <span>{{ $parent.performer.nickname }}</span></h2>
        <p v-t="'tabs.calldesc'"></p>

        <div class="numbers" v-for="(campaign, index) in $parent.activeCampaign">
            <i class="numbers__flag flag flag-nl" v-if="$parent.info.country === 'nl' && index === 0"></i>
            <i class="numbers__flag flag flag-be" v-if="$parent.info.country === 'nl' && index === 1"></i>
            <i class="numbers__icon fa fa-phone" v-if="$parent.info.country === 'de' && index === 0"></i>
            <i class="numbers__icon fa fa-mobile" v-if="$parent.info.country === 'de' && index === 1"></i>

            <span class="numbers__nr">{{ campaign.number }}</span>
            <span class="numbers__happyhour" v-if="campaign.marketing === 1" v-t="'top.banner.action'"></span>
            <span class="numbers__cost">{{ campaign.cpm | currency }} {{ $t('top.numbers.nr-' + index) }}</span>

            <span class="numbers__desc" v-if="$parent.info.country === 'de'" v-html="$t('top.numbers.nrdesc-' + index)"></span>
        </div>

        <p><span v-html="$t('tabs.callmenu1')"></span> <i>{{ $parent.advertNumber }}</i> <span v-t="'tabs.callmenu2'"></span></p>
        <h3>{{ $t('tabs.callbyebye') }} <span>{{ $parent.performer.nickname }}</span></h3>
    </div>
</div>