<div class="tabs__servicescontent col-xs-12">
    <div class="tabs__servicescontent-method full">
        <h2>{{ $t('tabs.calltitle') }} <span>{{ $parent.performer.nickname }}</span></h2>
        <p v-t="'tabs.calldesc'"></p>

        <div class="numbers" v-for="(campaign, index) in $parent.activeCampaign">
            <i class="flag flag-nl" v-if="$parent.branding && index === 0"></i>
            <i class="flag flag-be" v-if="$parent.branding && index === 1"></i>
            {{ campaign.number }}
            <strong v-if="campaign.marketing === 1" v-t="'top.banner.happyhour'"></strong>
            <span>{{ campaign.cpm | euro }} {{ $t('top.numbers.pm') }}</span>
        </div>

        <p><span v-html="$t('tabs.callmenu1')"></span> <i>{{ $parent.advertNumber }}</i> <span v-t="'tabs.callmenu2'"></span></p>
        <h3>{{ $t('tabs.callbyebye') }} <span>{{ $parent.performer.nickname }}</span></h3>
    </div>
</div>