<div class="tabs__servicescontent col-xs-12">
    <div class="tabs__servicescontent-method full" v-if="$parent.info.ivr1.sms_enabled === 1">
        <h2>{{ $t('tabs.calltitle') }} <span>{{ $parent.performer.nickname }}</span></h2>
        <div class="col-xs-12 col-sm-6">
            <p v-if="$parent.info"><span v-html="$t('tabs.smsdesc')"></span> <i>{{ $parent.advertNumber }}</i> <span v-html="$t('tabs.smsdesc1')"></span> <i>{{ $parent.info.sms_number }}</i> ({{ $parent.info.credits_per_sms | currency }} {{ $t('tabs.smscost') }})</p>
            <h3>{{ $t('tabs.callbyebye') }} <span>{{ $parent.performer.nickname }}</span></h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p><span v-html="$t('tabs.smsterms')"></span></p>
        </div>
    </div>
    <div class="tabs__servicescontent-method full" v-if="$parent.info.ivr1.sms_enabled === 0">
        <h2>{{ $t('tabs.nosmsservice') }}</h2>
    </div>
</div>