<div class="tabs__servicescontent col-xs-12">
    <div class="tabs__servicescontent-method">
        <h2 v-html="$t('tabs.paymentwithtelephone')"></h2>

        <div class="numbers" v-for="(campaign, index) in $parent.activeCampaign">
            <i class="numbers__flag flag flag-nl" v-if="$parent.info.country === 'nl' && index === 0"></i>
            <i class="numbers__flag flag flag-be" v-if="$parent.info.country === 'nl' && index === 1"></i>
            <i class="numbers__icon fa fa-phone" v-if="$parent.info.country === 'de' && index === 0"></i>
            <i class="numbers__icon fa fa-mobile" v-if="$parent.info.country === 'de' && index === 1"></i>

            <span class="numbers__nr">{{ campaign.number }}</span>
            <span class="numbers__happyhour" v-if="campaign.marketing === 1" v-t="'top.banner.happyhour'"></span>
            <span class="numbers__cost">{{ campaign.cpm | euro }} {{ $t('top.numbers.nr-' + index) }}</span>

            <span class="numbers__desc" v-if="$parent.info.country === 'de'" v-html="$t('top.numbers.nrdesc-' + index)"></span>
        </div>

        <form class="form" v-on:submit.prevent="$parent.startVoyeur(true)">
            <p v-t="'tabs.webcamwithphonedesc'"></p>
            <div class="col-xs-12 col-sm-6">
                <div class="row rowpad">
                    <input required type="text" class="col-xs-7 col-sm-9" v-model="$parent.ivrCode" :placeholder="$t('tabs.accesscode')">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row rowpad">
                    <input required type="text" class="col-xs-7 col-sm-9" v-model="$parent.displayName" :placeholder="$t('tabs.username')">
                </div>
            </div>
            <button class="btn btn-full btn-large btn-green" v-t="'tabs.voyeurbtn'"></button>
        </form>
    </div>

    <div class="tabs__servicescontent-method">
        <h2 v-html="$t('tabs.paymentwithcredits')"></h2>
        <p><span v-t="$parent.authenticated ? 'tabs.webcamwithcreditsdesc' : 'tabs.registeraccount'"></span> <span v-if="$parent.authenticated">({{ $parent.info.credits_per_minute.split('.')[0] }} {{ $t('top.numbers.cpm') }})</span></p>
        <a class="btn btn-full btn-large" :class="$parent.authenticated ? 'btn-green' : 'btn-orange'" v-t="$parent.authenticated ? 'tabs.voyeurbtn' : 'modals.login.login'" v-on:click="$parent.authenticated ? $parent.startVoyeur() : $parent.openModal('login')"></a>
    </div>

</div>