<div class="modal">
    <div class="modal__title" v-if="!title"><i class="fa fa-user"></i><span v-t="'nav.info.notifications'"></span></div>
    <div class="modal__close" v-if="!title" v-on:click="close"><i class="fa fa-times"></i></div>
    <div class="modal__content register form">
        <form class="row" v-on:submit.prevent="updateNotifications">
            <div class="col-xs-12">
                <div class="form__group">
                    <h2 v-t="'account.howreceivenotify.question'"></h2>

                    <div class="radio" v-for="(event, index) in formData.modes">
                        <input type="radio" :id="'radio'+index" name="radio-group" v-model="user.notification_mode" :value="index">
                        <label :for="'radio'+index">{{ $t('account.howreceivenotify.'+ event) }} 
                            <input style="display: none;" v-if="event === 'Email'" type="text" v-model="user.email">
                            <input style="display: none;" v-if="event === 'SMS' || event === 'WhatsApp'" type="text" v-model="user.mobile_number">
                        </label>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <div class="form__group">
                    <button class="btn btn-orange" v-t="'account.editdatabtn'"></button>
                </div>
            </div>
        </form>
    </div>
</div>