<div class="modal">
    <div class="modal__title"><i class="fa fa-user"></i><span v-t="'modals.register.title'"></span></div>
    <div class="modal__close" v-on:click="close"><i class="fa fa-times"></i></div>
    <div class="modal__content register form">
        <form v-on:submit.prevent="register">
            <div class="form__group">
                <ul class="usp usp-large">
                    <li v-t="'sidebar.register.usp-1'"></li>
                    <li v-if="!freeRegister" v-t="'sidebar.register.usp-2'"></li>
                    <li v-if="freeRegister" v-t="'sidebar.register.usp-0'"></li>
                    <li v-t="'sidebar.register.usp-3'"></li>
                </ul>
            </div>
            <!-- <sociallogin :title="'modals.login.orregisterwith'"></sociallogin> -->
            <!-- <div class="sociallogin">
                <div class="container-fluid">
                    <p class="sociallogin__title"><span>{{ $t('modals.register.fillindata') }}</span></p>
                </div>
            </div> -->
            <div class="form__group">
                <label v-t="'modals.register.username'"></label>
                <input required type="text" v-model="userForm.username" />
            </div>
            <div class="form__group">
                <label v-t="'modals.register.email'"></label>
                <input required type="text" v-model="userForm.email" autocorrect="off" autocapitalize="none" />
            </div>
            <div class="form__group">
                <label v-t="'modals.register.password'"></label>
                <input required type="password" v-model="userForm.password" />
            </div>
            <div class="form__group">
                <button class="btn btn-large btn-orange btn-full" v-t="'modals.register.register'"></button>
                <hr></hr>
                <a class="btn btn-green btn-full" v-on:click="openModal('login')" v-t="'modals.login.login'"></a>
            </div>
        </form>
    </div>
</div>