<div class="modal">
    <div class="modal__title"><i class="fa fa-user"></i><span v-t="'modals.register.title'"></span></div>
    <div class="modal__close" v-on:click="close"><i class="fa fa-times"></i></div>
    <div class="modal__content register form">
        <form v-on:submit.prevent="register">
            <div class="form__group">
                <ul class="usp usp-large">
                    <li v-t="'sidebar.register.usp-1'"></li>
                    <li v-t="'sidebar.register.usp-2'"></li>
                    <li v-t="'sidebar.register.usp-3'"></li>
                </ul>
            </div>
            <div class="form__group">
                <label v-t="'modals.register.username'"></label>
                <input type="text" required v-model="userForm.username" />
            </div>
            <div class="form__group">
                <label v-t="'modals.register.email'"></label>
                <input type="text" required v-model="userForm.email" autocorrect="off" autocapitalize="none" />
            </div>
            <div class="form__group">
                <label v-t="'modals.register.language'"></label>
                <select required v-model="userForm.language">
                    <option v-for="lang in languages" :value="lang">{{ $t('languages.' + lang) }}</option>
                </select>
            </div>
            <div class="form__group">
                <label v-t="'modals.register.country'"></label>
                <select required v-model="userForm.country">
                    <option v-for="country in countries" :value="country">{{ $t('modals.countryselect.country-' + country) }}</option>
                </select>
            </div>
            <div class="form__group">
                <label v-t="'modals.register.password'"></label>
                <input type="password" required v-model="userForm.password" />
            </div>
            <div class="form__group">
                <label v-t="'modals.register.passwordconfirm'"></label>
                <input type="password" required v-model="userForm.passwordconfirm" />
                <button class="btn btn-large btn-orange btn-full" v-t="'modals.register.register'"></button>
            </div>
        </form>
    </div>
</div>