<div class="container-fluid">
    <h1><i class="fa fa-clock-o hidden-xs"></i><span v-t="'nav.info.history'"></span></h1>
    <div class="account__view form">
        <p v-t="'account.historydesc'"></p>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <select v-model="query.filter">
                    <option v-t="'account.historymethod'" value=""></option>
                    <option v-for="service in services" :value="service">{{ $t(`services.${service}`) }}</option>
                </select>
            </div>
            <div class="col-xs-1">
                <p style="margin: 5px 0;">{{ $t(`account.datefrom`) }}</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="date" :placeholder="$t('account.historystartdate')" v-model="query.startDate">
            </div>
            <div class="col-xs-1">
                <p style="margin: 5px 0;">{{ $t(`account.datetill`) }}</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="date" :placeholder="$t('account.historyenddate')" v-model="query.endDate">
            </div>
        </div>
        <table class="account__view-table">
            <tr>
                <th><h3 v-t="'account.date'"></h3></th>
                <th><h3 v-t="'account.paymentmethod'"></h3></th>
                <th><h3 v-t="'account.amount'"></h3></th>
            </tr>
            <tr v-for="(historyItem, index) in history" :key="historyItem.date" :class="{ 'even': index % 2 === 0 }">
                <td>
                    <p>{{ historyItem.date | date }}</p>
                </td>
                <td>
                    <p>{{ $t(`services.${historyItem.service}`) }}</p>
                </td>
                <td>
                    <p>{{ historyItem.amount | euro }}</p>
                </td>
            </tr>
        </table>

        <pagination :limit.sync="query.limit" :offset.sync="query.offset" :total="total" :pageButtons="true" :pageCount="false" v-on:pageChange="pageChanged"></pagination>
    </div>
</div>