<main class="promos">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-11">
            <h1>
                <i class="fa fa-bullhorn hidden-xs"></i>
                <span v-t="'nav.info.actions'"></span>
                <a v-on:click="addPromoNotifi" class="btn btn-right btn-fa btn-small fa-bell btn-orange">
                    <span v-t="notify('PRO') ? 'nav.info.notifymenot' : 'nav.info.notifyme'"></span>
                </a>
            </h1>
            <p v-t="'promos.intro'"></p>

            <h3 v-t="'promos.currentactions'"></h3>
        </div>
        <div class="visible-lg col-md-1">
            <br /><br />
            <img class="resize" src="../../../assets/images/woman-silhouette-large.png" />
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th v-t="'nav.info.actions'"></th>
                        <th v-t="'promos.data'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="promo in promos">
                        <td v-html="promo.text1"></td>
                        <td v-html="promo.text2"></td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            <span v-if="!authenticated">
                <a v-on:click="openModal('login')" class="btn btn-orange btn-large mr" v-t="'nav.info.login'"></a>
                <a v-on:click="openModal('register')" class="btn btn-orange btn-large" v-t="'nav.info.register'"></a>
            </span>
            <a v-on:click="goBanner(authenticated)" v-if="authenticated" class="btn btn-orange btn-large btn-full" v-t="'nav.info.upgradebalance'"></a>
        </div>
    </div>
</main>