//
// Readmessage
// --------------------------------------------------

// Imports

@import "../../../../../styles/_mixins.scss";
@import "../../../../../styles/_settings.scss";

// Styling

.readmessages {
    max-height: 685px;

    h3 {
        @include rem(font-size, 18px);
    }

    &__item {
        position: relative;
        display: flex;
        float: right;
        flex-direction: row;
        text-align: left;
        background: $pallete-3;
        @include border-radius(3px);
        @include rem(margin, 0px 0px 20px 0px);
        color: $pallete-2;
        width: 98%;
        cursor: pointer;

        &:hover {
            .readmessages__item-remove { display: block; }
        }

        &.even {
            float: left;
            background: $pallete-9;
            color: $pallete-2;

            p { color: $pallete-2; }
            span { float: left; }

            .readmessages__item-remove { background: $pallete-3; }
        }

        h4 {
            @include rem(font-size, 16px);
            @include rem(margin, 10px 0px);
        }

        p { 
            display: table;
            width: 100%;
            color: $pallete-2;
            font-weight: 600;
        }

        span {
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-style: italic;
            @include rem(font-size, 12px);
            @include rem(margin, 0px);
        }

        &-account {
            flex: 2;
            width: 150px;
            text-align: center;
            border-right: 1px solid rgba(255,255,255,0.2);

            h4 {
                @include rem(font-size, 13px);
                @include rem(margin, 5px);
            }

            &-img {
                display: table;
                width: 44px;
                height: 44px;
                @include rem(margin, 10px auto);
                overflow: hidden;
                background-position: 0;
                background-size: 100%;
                @include border-radius(44px);
            }
        }

        &-content {
            flex: 7;
            @include rem(padding, 0px 10px 25px 10px);
        }

        &-remove {
            display: none;
            position: absolute;
            right: -10px;
            top: -8px;
            width: 25px;
            height: 25px;
            background: $pallete-9;
            color: $pallete-2;
            @include border-radius(20px);
            @include rem(padding, 2px 4px); 
            cursor: pointer;

            &:before {
                content: "\f00d";
                font: normal normal normal 20px/1 FontAwesome;
            }
        }

        &-pay{
            display: table;
            text-align: center;
            width: 100%;
            @include rem(padding, 12px);
            background: $pallete-1;
            border: 2px solid $pallete-3;
            p { @include rem(padding, 0px); @include rem(margin, 0px); }
            .btn { width: 100%; }
        }
    }
}