<div class="container-fluid">
    <h1>
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <i class="fa fa-envelope hidden-xs"></i><span v-t="'nav.info.inbox'"></span>
            </div>
            <div class="col-xs-8 col-sm-9">
                <router-link :to="{ name: 'Inbox'}" class="btn btn-right btn-fa fa-arrow-left"><span class="hidden-xs" v-t="'account.backinbox'"></span></router-link>
            </div>
            <div class="clearfix"></div>
        </div>
    </h1>
    <div class="account__view">
        <div class="form">
            <form class="row" v-on:submit.prevent="sendMessage">
                <div class="col-xs-12">
                    <div class="form__group">
                        <label v-t="'account.to'"></label>
                        <input required v-model="performerSearchQuery" type="text" class="col-xs-12">
                        <ul class="account__view-list" v-if="performersFilter.length !== 0">
                            <li v-for="performer in performersFilter" v-on:click="selectPerformer(performer)">
                                <div class="col-xs-3 col-sm-1">
                                    <div class="row">
                                        <img clas="small" v-if="performer" :src="`${imageUrl}${performer.id}/small/${performer.avatar}`"/>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-sm-11 text-left">
                                    {{ performer.username }} <br />
                                    <i>({{ performer.advertNumber }})</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form__group">
                        <label v-t="'account.subject'"></label>
                        <input required v-model="message.subject" type="text" class="col-xs-12">
                    </div>
                    <div class="form__group">
                        <label v-t="'account.message'"></label>
                        <textarea required v-model="message.content"></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form__group">
                        <button class="btn btn-orange" v-t="'account.sendmessage'"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

