//
// Buttons
// --------------------------------------------------

// Btn
.btn {
    display: inline-block;
    color: $pallete-2;
    @include rem(font-size, 13px);
    background: $pallete-14;
    font-weight: 400;
    @include border-radius(3px)
    @include rem(padding, 12px 25px);
    @include rem(margin, 0px 5px);
    border: none;
    text-align: center;
    cursor: pointer;

    &-large     { @include rem(padding, 11px 35px); }
    &-full      {  width: 100%; }
    &-right     { float: right; }
    &-left      { float: left; }

    &-fa {
        @include rem(padding, 12px 15px 12px 15px);
        &:before { 
            color: $pallete-2;
            font: normal normal normal 16px/1 FontAwesome; 
        }
        span {
            @include rem(margin-left, 10px);
        }
    }

    &-orange { background: $pallete-3; }
    &-green  { background: $pallete-21; }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $pallete-2;
        opacity: 0.9;
    }
}


// Btn as link
.link {
    display: inline-block;
    @include rem(font-size, 13px);
    color: $pallete-7;
    text-decoration: underline;
    @include rem(padding, 8px 5px);

    &:active, &:hover, &:focus {
        color: $pallete-3;
        text-decoration: underline;
    }
}

// Spacings
.mt { @include rem(margin-top, 10px); }
.mb { @include rem(margin-bottom, 10px); }
.ml { @include rem(margin-left, 10px); }
.mr { @include rem(margin-right, 10px); }
