//
// Buttons
// --------------------------------------------------

// Btn
.btn {
    display: inline-block;
    color: $pallete-2;
    @include rem(font-size, 11px);
    background: $pallete-13;
    font-weight: 600;
    @include border-radius(3px);
    @include rem(padding, 12px 20px);
    @include rem(margin, 5px 0px);
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25);

    &-small     { @include rem(padding, 9px 20px); }
    &-large     { @include rem(padding, 15px 35px); @include rem(font-size, 13px); }
    &-xxl       { @include rem(padding, 18px 85px); @include rem(font-size, 18px); }
    &-full      {  width: 100%; }
    &-right     { float: right; }
    &-left      { float: left; }

    &-fa {
        @include rem(padding, 12px 15px 12px 15px);
        &:before { 
            color: $pallete-2;
            font: normal normal normal 16px/1 FontAwesome; 
        }
        span {
            @include rem(margin-left, 10px);
        }
    }

    &-orange { background: $pallete-3; }
    &-green  { background: $pallete-21; }
    &-black  { background: $pallete-1; }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $pallete-2;
        opacity: 0.9;
    }
}


// Btn as link
.link {
    display: inline-block;
    @include rem(font-size, 13px);
    color: $pallete-7;
    text-decoration: underline;
    @include rem(padding, 8px 5px);

    &:active, &:hover, &:focus {
        color: $pallete-3;
        text-decoration: underline;
    }
}

// Spacings
.mt { @include rem(margin-top, 10px); }
.mb { @include rem(margin-bottom, 10px); }
.ml { @include rem(margin-left, 10px); }
.mr { @include rem(margin-right, 10px); }
