//
// Components
// --------------------------------------------------

// Pagination

.pager {
    display: table;
    width: 100%;
    background: $pallete-11;
    @include border-radius(3px);
    border: solid 1px rgba(255,255,255,0.1);
    @include rem(margin, 10px 0);
    @include rem(padding, 5px 5px);

    &__numbers {
        @include rem(margin, 12px 0 10px 0);
        @include rem(padding, 0);
        &-items {
            display: table;
            margin: 0 auto;
        }
        &-item {
            float: left;
            background: $pallete-13;
            border: 1px solid $pallete-11;
            @include border-radius(3px);
            color: $pallete-7;
            @include rem(font-size, 13px);
            @include rem(padding, 6px 11px);
            @include rem(margin, 0px 2px);
            cursor: pointer;
            &.active {
                color: $pallete-2;
                background: $pallete-3;
                border: 1px solid rgba(251,89,0,0.9);
            }
        }
    }

    &__page {
        color: $pallete-7;
        @include rem(padding, 15px 15px);
        @include rem(font-size, 13px);
        line-height: 180%;
    }

    &__quantity {
        color: $pallete-7;
        @include rem(padding, 15px 15px);
        @include rem(font-size, 13px);
        line-height: 180%;

        select{
            float: right;
            background: $pallete-13;
            border-color: $pallete-7;
            @include border-radius(3px);
            &:focus{
                outline: none;
            }
        }
    }
}

// Status triangle

.status {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent transparent transparent transparent;

    &.available {
        border-color: transparent $pallete-12 transparent transparent;
    }

    &.busy {
        border-color: transparent $pallete-15 transparent transparent;
    }

    &.peek {
        border-color: transparent $pallete-19 transparent transparent;
    }

    &.offline {
        display: none;
    }
}

// Label

.label {
    position: absolute;
    top: 38px;
    left: -3px;
    z-index: 0;
    color: $pallete-2;
    font-weight: 600;
    @include rem(font-size, 12px);
    text-shadow: 0px 1px 0px rgba(0,0,0,0.05);
    @include rem(padding, 5px 10px);
    @include border-radius(1px);
    &.busy-label { background: $pallete-15; }
    &.peek-label { background: $pallete-19; }
    &.voyeur-label { background: $pallete-22; }
}

// USP's

.usp {
    position: relative;
    z-index: 0;
    @include rem(margin, 2px 0px);
    @include rem(padding, 0px);
    list-style: none;
    li {
        @include rem(font-size, 12px);
        &:before {
            color: $pallete-21;
            content: "\f05d";
            font: normal normal normal 14px/1 FontAwesome;
            @include rem(margin-right, 8px);
        }
    }

    &-large {
        li {
            @include rem(font-size, 15px);
            &:before {
                @include rem(font-size, 18px);
            }
        }
    }
}

// 5 Col grid

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
