//
// Forms
// --------------------------------------------------

.form {

    &__group {
        @include rem(padding, 10px 0);

        label {
            color: $pallete-2;
            display: inline-block;
            max-width: 100%;
            font-weight: bold;
            @include rem(font-size, 13px);
        }
    }
    

    input[type=text], input[type=password], input[type=email], input[type=name], input[type=date] {
        color: $pallete-2;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: $pallete-11;
        @include rem(font-size, 14px);
        @include rem(padding,12px 13px);
        @include border-radius(3px);
        width: 100%;
        @include rem(margin, 5px 0px);
        &:focus {
            outline: none;
        }
    }

    

    select {
        color: $pallete-2;
        border: 2px solid rgba(125, 106, 109, 0.12);
        background: $pallete-11;
        @include rem(font-size, 14px);
        @include rem(padding,12px 13px);
        @include border-radius(3px);
        width: 100%;
        @include rem(margin, 5px 0px);

        &:focus {
            outline: none;
        }
    }

    textarea {
        color: $pallete-2;
        border: 2px solid rgba(125, 106, 109, 0.12);
        background: $pallete-11;
        @include rem(font-size, 14px);
        @include rem(padding,12px 13px);
        @include border-radius(3px);
        min-height: 90px;
        width: 100%;
        @include rem(margin, 5px 0px);
        resize: none;
        &:focus {
            outline: none;
        }
    }

}
