
//
// Font icons
// --------------------------------------------------

// Services ( Fontawesome )
.fa {
    &.fa-cam:before         { content: "\f03d"; }
    &.fa-phone:before       { content: "\f095"; }
    &.fa-sms:before         { content: "\f10b"; }
    &.fa-email:before       { content: "\f003"; }
    &.fa-videocall          { padding: 0px; }
    &.fa-videocall:before   { 
        content: ""; 
        display: block; 
        height: 13px;
        width: 22px;
        background: url('../assets/images/videocall-icon.png') no-repeat; 
    }
    &.fa-voicemail:before   { content: "\f001"; }
    &.fa-peek:before        { content: "\f06e"; }
}

