//
// Project variables
// --------------------------------------------------

$default-font: 'Noto Sans TC', Verdana, sans-serif;

$pallete-0: #fff;
$pallete-1: #202020;
$pallete-2: #fff; // white
$pallete-3: #dadada; // grey
$pallete-4: #666666; // dark grey


