<div class="container-fluid">
    <h1>
        <i class="fa fa fa-id-card-o hidden-xs"></i><span v-t="'nav.info.avg'"></span>
    </h1>
    <div class="form" v-if="personal">
        <div class="col-xs-12">
            <div class="form__group">
                <ul class="account__view-list nohover">
                    <li v-if="personal.email"><b>{{ $t('account.email') }}:</b> {{ personal.email }}</li>
                    <li v-if="personal.ip"><b>{{ $t('account.ip') }}:</b> {{ personal.ip }}</li>
                    <li v-if="personal.phoneNumbers"><b>{{ $t('account.phones') }}</b><br />
                        <span v-for="number in personal.phoneNumbers">{{ number }}</span><br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>