<div class="videochat__chat">
    <div class="videochat__chat-top">
        <span class="typing" v-if="showTyping">&hellip;</span>
        <a class="close" v-on:click="chatOpened = !chatOpened"><i class="fa" :class="chatOpened ? 'fa-caret-down' : 'fa-caret-up'"></i></a>
    </div>
    <ul class="videochat__chat-list" :class="{ 'vhidden': !chatOpened }">
        <li v-for="message in chatMessages">
            <h3>{{ message.senderType === 'ROLE_PERFORMER' ? performerName : userName }}</h3>
            <p v-html="message.message"></p>
        </li>
    </ul>
    <div class="videochat__chat-input" :class="{ 'vhidden': !chatOpened }">
        <form v-on:submit.prevent="sendMessage">
            <input type="text" name="text" class="searching" autocomplete="off" v-model="chatMessage" v-on:keyup="setTyping">
            <div class="btns">
                <a class="smilie fa fa-smile-o" v-on:click="smiliesOpened = !smiliesOpened"></a>
                <a class="send fa fa-paper-plane-o" v-on:click="sendMessage"></a>
            </div>
        </form>
    </div>
    <div class="videochat__chat-smilies" v-if="smiliesOpened">
        <emoticons v-on:emojiSelected="emojiSelected"></emoticons>
    </div>
</div>
