<div class="container-fluid">
    <h1>
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <i class="fa fa-envelope hidden-xs"></i><span v-t="'nav.info.inbox'"></span>
            </div>
            <div class="col-xs-8 col-sm-9">
                <router-link :to="{ name: 'Inbox'}" class="btn btn-right btn-fa fa-arrow-left"><span class="hidden-xs" v-t="'account.backinbox'"></span></router-link>
            </div>
            <div class="clearfix"></div>
        </div>
    </h1>
    <div class="account__view" v-if="!payed">
        <h3>{{ message.subject }}</h3>

        <div class="colum"> 
            <div class="col-xs-3 col-sm-1">
                <div class="row">
                    <router-link :to="{ name: 'Profile', params: { id: message.performer_account.advert_numbers[0].advertNumber }}">
                        <img class="resize" :src="getAvatarImage(message.performer_account, 'small')">
                        <span class="status" :class="getPerformerStatus(message.performer_account)"></span>
                    </router-link>
                </div>
            </div>
            <div class="col-xs-9 col-sm-11">
                <div class="row">
                    <span class="col-xs-12 col-sm-6 text-left">{{ $t('account.by') }}: 
                        <router-link :to="{ name: 'Profile', params: { id: message.performer_account.advert_numbers[0].advertNumber }}">
                        <i>{{ message.performer_account.nickname }}</i>
                        </router-link>
                    </span>
                    <span class="col-xs-12 col-sm-6 text-left">{{ message.date | date }}</span>
                    <p class="col-xs-12">{{ message.content }}</p>
                </div>
            </div>
        </div>

        <div class="form">
            <form class="row" v-on:submit.prevent="sendMessage">
                <div class="col-xs-12">
                    <div class="form__group">
                        <textarea v-model="reply"></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form__group">
                        <button class="btn btn-orange" v-t="'account.sendmessage'"></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="account__view" v-if="payed">
        <p class="highlight">{{ $t('account.paymessage') }} {{ credits }} {{ $t('payment.credits') }}</p>
        <a v-on:click="payMessage" class="btn btn-orange">{{ $t('account.viewmessage') }}</a>
    </div>
</div>

