//
// Voyeur
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.voyeur {
    position: relative;
    z-index: 2;
    right: 0px;
    width: 100%;
    background: $pallete-16;

    &__screen{
        position: relative;
        z-index: 1;
        display: table;
        height: 100vh;
        width: 100%;

        &-object {
            position: relative;
            display: table;
            height: 100vh;
            width: 100%;
            canvas {
                display: table-cell;
                vertical-align: middle;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            div {
                width: 100%;
                height: 100%;
            }
        }

        @include breakpoint(xs) {
            height: auto;
            &-object {
                height: auto;
            }
        }
    }

    &__block {
        position: fixed;
        z-index: 1;
        bottom: 0;
        background: $pallete-11;
        min-width: 250px;
        @include border-top-radius(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);

        &.left {
            left: 25px;
            @include breakpoint(xs) {
                left: 0;
            }
            @include breakpoint(md) {
                left: 275px;
            }
        }

        &.center {
            bottom: 1px;
            width: 100%;
            @include breakpoint(xs) {
                position: relative;
            }
            @include breakpoint(md) {
                width: calc(100% - 250px);
            }
            border: none;
            background: none;
            .btn {
                display: table;
                @include rem(margin,10px auto);
                &.btn-icon {
                    position: relative;
                    display: table;
                    @include rem(padding, 9px 10px 9px 35px);
                    @include rem(margin, 5px auto);

                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 36px;
                        @include rem(padding, 13px 4px);
                        background: black;
                        font: normal normal normal 12px/1 FontAwesome; 
                        @include border-left-radius(3px);

                        &.reserve { background: $pallete-19; &:before { content: "\f017"; } }
                        &.online { background: $pallete-12; &:before { content: "\f03d"; } }
                    }
                }
            }
        }

        &.right {
            right: 25px;
        }

        @include breakpoint(xs) {
            position: relative;
            width: 100%;
            left: 0;
            &:last-child{
                left: 0;
            }
        }

        &-title {
            color: $pallete-2;
            font-weight: 600;
            @include rem(font-size, 15px);
            @include rem(padding,10px 15px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            cursor: pointer;

            i {
                @include rem(margin-right, 5px);
                color: $pallete-3;
            }

            span{
                float: right;
                &:before {
                    font: normal normal normal 20px/1 FontAwesome;
                    content: "\f068";
                }

                &.active {
                    &:before {
                        content: "\f067";
                    }
                }
            }
        }

        &-list {
            @include rem(padding,10px 15px);
            margin: 0;
            list-style: none;
            li {
                @include rem(font-size, 13px);
                color: $pallete-2;
                line-height: 150%;
                cursor: pointer;
                i {
                    @include rem(margin-left,10px);
                    @include rem(font-size, 15px);
                    font-style: normal;
                    color: $pallete-3; 
                }
            }
        }
        
    }
}