<div class="videochat">
    <div class="videochat__screen" v-if="mainTile">
        <div class="videochat__screen-object">
            <jsmpeg
                v-on:stateChange="viewerStateChange"
                v-on:error="viewerError"
                :wowza="mainTile.streamData.wowza"
                :playStream="mainTile.streamData.playStream">
            </jsmpeg>
        </div>
    </div>

    <div class="voyeur__favorites">
        <ul>
            <li v-for="favorite in favoritePerformers">
                {{ favorite.nickname }}
            </li>
        </ul>
    </div>

    <div class="voyeur__reservations">

    </div>
</div>