<div class="voyeur">
    <div class="voyeur__screen">
        <div class="voyeur__screen-object">
            <jsmpeg
                v-on:stateChange="viewerStateChange"
                v-on:error="viewerError"
                :wowza="mainTile.streamData.wowza"
                :playStream="mainTile.streamData.playStream">
            </jsmpeg>
        </div>
    </div>

    <div class="voyeur__block">
        <div class="voyeur__block-title"><i class="fa fa-star"></i> {{ $t("voyeur.favorites") }}<span></span></div>
        <ul class="voyeur__block-list">
            <li v-for="favorite in favoritePerformers">
                {{ favorite.nickname }} <i>(2233)</i>
            </li>
        </ul>
    </div>

    <div class="voyeur__block">
        <div class="voyeur__block-title"><i class="fa fa-clock-o"></i> {{ $t("voyeur.reserving") }}<span></span></div>
        <ul class="voyeur__block-list">
            <li v-for="favorite in favoritePerformers">
                {{ favorite.nickname }} <i>(2233)</i>
            </li>
        </ul>
    </div>
</div>