//
// Contact
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.contact {

    &__title {
        display: table;
        @include rem(padding, 45px 0 40px 0);
        @include rem(margin, 0px auto );
        width: auto;

        span {
            float: left;
            color: $pallete-2;
            @include rem(font-size,20px);
            line-height: 200%;
        }

        i {
            float: left;
            display: table;
            width: 40px;
            text-align: center;
            vertical-align: middle;
            @include border-radius(5px);
            color: $pallete-2;
            border: 2px solid $pallete-3;
            @include rem(font-size, 20px);
            @include rem(padding, 8px 2px);
            @include rem(margin, auto 20px);
            &.active {
                background: $pallete-3;
            }
        }
    }

    &__form {
        &-title {
            float: left;
            width: 100%;
            color: $pallete-2;
            font-weight: 700;
            @include rem(font-size, 15px);
            @include rem(padding, 15px 15px);
            @include gradient($pallete-8, $pallete-11, vertical);
            border-bottom: 1px solid #000;
        }

        &-content {
            float: left;
            width: 100%;
            background: $pallete-11;
            border-top: 1px solid $pallete-0;
            @include rem(padding, 10px 0px);
            
            .form__group {
                float: left;
                @include rem(margin, -5px 0);
                width: 100%;
            }

            input, textarea {
                background: $pallete-11;
                border: none;
                color: $pallete-18;
                width: 100%;
                @include rem(padding, 10px 10px);
                border-bottom: 1px solid $pallete-0;
            }
        }
    }

    &__content {
        @include rem(padding, 0px 10px);
    }
}