//
// Photo-slider
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.slider {

    &__small {
        position: relative;
        overflow: hidden;
        height: 300px;

        &-list {
            display: block;
            position: absolute;
            left: 150px;
            overflow: hidden;
        
            width: 99999px;
            max-width: none;
            height: 300px;
            font-size:0;
            @include rem(padding, 0px);

            li {
                float: left;
                width: 225px;
                list-style: none;
                cursor: pointer;
                img { width: 100%; }
            }
        }

        &-right, &-left {
            position: absolute;
            display: table;
            top: 0px;
            right: 0px;
            height: 300px;
            width: 50px;
            background-color: $pallete-11;
            text-align: center;
            cursor: pointer;
    
            i {
                @include rem(font-size,25px);
                display: table-cell;
                vertical-align: middle;
                color:$pallete-2;
            }
        }
    
        &-left {
            left: 0px;
        }

    }

    &__large {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 1000;
        @include rem(padding, 0px);
        background-color: $pallete-9;
    
        width: 100%;
        height: 100%;
        font-size:0;

        &-list {
            li {
                position: absolute;
                list-style: none;
                height: 100%;
                width: 100%;
                display: none;
        
                transition: left 0.8s ease-in-out;
        
                img {
                    display: block;
                    margin: 0 auto;
                    height: 100%;
                }

                &.current {
                    display: list-item;
                    left: 0;
                }
            
                &.previous {
                    display: list-item;
                    left: -100%;
                }
            
                &.next {
                    display: list-item;
                    left: 100%;
                }
            }
        }

        &-right, &-left {
            position: absolute;
            display: table;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 39px;
            text-align: center;
            cursor: pointer;

            span {
                display: table-cell;
                vertical-align: middle;
                i {
                    @include rem(font-size,25px);
                    height: 45px;
                    color:$pallete-2;
                    @include rem(padding, 12px);
                    background-color: $pallete-11;
                    @include border-left-radius(5px);
                    @include border-right-radius(0px);
                }
            }

        }
    
        &-left {
            left: 0px;
            span {
                i { 
                    @include border-right-radius(5px);
                    @include border-left-radius(0px); 
                }
            }
        }

        &-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            i {
                display: table;
                margin: 0 auto;
                @include rem(padding, 10px);
                color: $pallete-2;
                @include rem(font-size,25px);
                background-color: $pallete-3;
                cursor: pointer;
                @include border-bottom-radius(5px);
            }
        }
    
    }

    .visible {
        display: block;
    }
}
