//
// Profile
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.profile {
    float: left;
    width: 100%;
    height: 100vh;
    background: $pallete-16;
    position: relative;

    @include breakpoint(sm) {
        width: calc(100% - 250px);
    }

    &__info {
        display: table;
        height: calc(100% - 350px);
        @include rem(padding, 100px 0);

        &-image {
            .image {
                margin: 0 auto;
                height: 188px;
                width: 188px;
                border: 1px solid $pallete-9;
                @include border-radius(188px);
            }
        }
    }

    &__content {
        &-nick {
            @include rem(font-size, 26px);
            color: $pallete-3;
            text-transform: uppercase;
            @include rem(margin, 10px 0px);
        }
        &-location {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-3; @include rem(margin-right, 8px); }
        }
        &-favorite {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-19; @include rem(margin, 0px 8px); }
        }
        &-description {
            color: $pallete-7;
            line-height: 190%;
        }
    }

    &__property {
        list-style: none;

        li {
            color: $pallete-7;
            line-height: 180%;
            text-align: right;

            h2 {
                @include rem(font-size, 16px);
                color: $pallete-3;
                text-align: left;
            }
            span {
                float: left;
                text-align: left;
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        height: 650px;
        width: 100%;
        background: $pallete-13;

        &-gallery {
            display: block;
            position: relative;
            width: 100%;
            height: 300px;
            overflow: hidden;
        }

        &-servicetitles {
            display: block;
            width: 100%;
            height: 50px;
            margin: 0;
            @include rem(padding, 5px 5px 0px 0px);
            @include gradient($pallete-16, $pallete-17, vertical);
            box-shadow: 0 4px 4px $pallete-11 inset;

            li {
                color: $pallete-7;
                @include rem(font-size,13px);
                display: inline-block;
                @include rem(padding, 13px 20px 15px 20px);
                cursor: pointer;
                @include border-top-radius(5px);

                i {
                    @include rem(font-size,16px);
                    color: $pallete-2;
                    @include rem(margin, 0px 10px 0px 0px);
                }

                &:hover {
                    background: $pallete-17;
                }

                &.active {
                    i { color: $pallete-3; }
                    background: $pallete-16;
                }
            }
        }

        &-servicecontent {
            display: table;
            width: 100%;
            height: 300px;
            background: $pallete-16;
            @include border-top-right-radius(5px);
            padding: 5px !important;


            .servicecontent {

                &__method {
                    @include rem(padding, 5px);

                    &-item {
                        display: table;
                        float: left;
                        width: 100%;
                        height: 280px;
                        border: 3px solid $pallete-17;
                        @include rem(padding, 15px);
                        @include border-radius(5px);

                        h2 {
                            color: $pallete-2;
                            font-weight: 600;
                            @include rem(font-size,16px);
                            margin: 0;
                            @include rem(padding-bottom, 10px);
                            border-bottom: 1px solid $pallete-11;
                        }

                        p {
                            @include rem(font-size,12px);
                            color: $pallete-2;
                        }
                    }
                }
            }
        }

        &-userinfo {
            display: table;
            width: 100%;
            height: 300px;
            background: $pallete-17;
        }
    }
}