//
// Profile
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.profile {
    display: table-cell;
    width: 100%;
    background: $pallete-16;
    position: relative;

    &__info {
        display: table;
        width: 100%;
        position: relative;
        @include rem(padding, 50px 0px 10px 0px);

        @include breakpoint(xs) {
            @include rem(padding, 20px 0px 0px 0px);
        }

        &-image {
            .image {
                position: relative;
                margin: 0 auto;
                height: 188px;
                width: 188px;
                border: 1px solid $pallete-9;
                cursor: pointer;
                @include border-radius(188px);
                &__fullslider {
                    position: absolute; 
                    right: -6px;
                    top: 20px;
                    width: 40px;
                    height: 40px;
                    background: $pallete-3;
                    @include border-radius(3px);
                    i { color: $pallete-2; @include rem(padding, 6px 8px); @include rem(font-size, 26px); }
                }
                .labelwrapper {
                    position: absolute; 
                    bottom: 0;
                    width: 100%;
                    .label { display: table; position: relative; top: 0; left: auto; @include rem(margin, 0px auto); }
                }
            }
        }
    }

    &__content {
        h1 {
            display: table;
            width: 100%;
            @include rem(font-size, 26px);
            font-weight: 700;
            color: $pallete-3;
            text-transform: uppercase;
            @include rem(margin, 0px 0px 5px 0px);
            @include rem(padding, 0px);
            span, .label {
                position: relative;
                float: left;
                left: auto;
                top: auto;
            }
            .label {
                @include rem(margin, 4px 10px);
            }
        }
        &-location {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-3; @include rem(margin-right, 8px); }
        }
        &-favorite {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-19; @include rem(margin, 0px 8px); }
        }
        &-subscribe {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-22; @include rem(margin, 0px 8px); }
        }

        a {
            &:hover {
                color: $pallete-2;
            }
        }
    }

    &__tab {
        &-title {
            display: table;
            position: relative;
            width: 100%;
            @include rem(padding, 10px 0px);
            @include rem(font-size, 16px);
            color: $pallete-3;
            text-align: left;
            font-weight: 700;
            cursor: pointer;

            i {
                background: $pallete-3;
                @include rem(padding, 3px 0px);
                width: 23px;
                text-align: center;
                color: $pallete-2;
                @include border-radius(3px);
                @include rem(margin-right, 5px);
            }

            @include breakpoint(xs) {
                border-bottom: 3px solid $pallete-1;

                &:before {
                    position: absolute;
                    color: $pallete-3;
                    right: 5px;
                    top: 8px;
                    font: normal normal normal 24px/1 FontAwesome;
                    content: "\f078";
                }
                &.active {
                    &:before { content: "\f077"; }
                }
            }
        }

        &-content {
            display: block;
            color: $pallete-7;
            line-height: 160%;
            overflow: hidden;
            text-overflow: ellipsis;
            @include rem(padding, 5px 0px);
            word-break: break-word;

            p {
                color: $pallete-7;
                @include rem(margin, 0px 0px);
            }

            @include breakpoint(xs) {
                display: none;
            }

            .btn {
                @include rem(margin-top, 10px);
            }

        }
    }

    &__property {
        list-style: none;
        @include rem(margin, 0px 0px);
        @include rem(padding, 0px 0px);

        li {
            color: $pallete-7;
            line-height: 180%;
            text-align: right;

            h2 {
                @include rem(font-size, 16px);
                color: $pallete-3;
                text-align: left;
            }
            span {
                float: left;
                text-align: left;
            }
        }
    }

    &__slider, &__tabs {
        position: relative;
        display: block;
        float: left;
        width: 100%;

        &-toggle {
            position: absolute;
            z-index: 2;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            @include rem(padding, 12px 15px);
            font-weight: 600;
            color: $pallete-2;
            background: $pallete-3;
            @include rem(margin, 0px auto);
            @include border-top-radius(3px);
            cursor: pointer;
            &:before {
                content: "\f03e";
                @include rem(margin-right, 10px);
                font: normal normal normal 14px/1 FontAwesome;
            }
        }
    }

    &__sticky {
        position: relative;
        bottom: 0;

        @include breakpoint(lg) {
            position: absolute;
            bottom: 0;
        }  
        width: 100%;
    }

    &__buttons {
        display: table;
        width: 100%;
        @include rem(padding,10px 12px);
    }

    &__flash {
        width: 401px;
        height: 301px; 
        position:fixed;
    }

    #profile__flash-check {
        width:100%;
        height: 100%;
    }
}
