//
// Profile
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.profile {
    display: table-cell;
    width: 100%;
    background: $pallete-16;
    position: relative;

    &__info {
        display: table;
        width: 100%;
        position: relative;
        @include rem(padding, 70px 0px 70px 0px);

        &-image {
            .image {
                position: relative;
                margin: 0 auto;
                height: 188px;
                width: 188px;
                border: 1px solid $pallete-9;
                @include border-radius(188px);
            }
        }
    }

    &__content {
        h1 {
            display: table;
            width: 100%;
            @include rem(font-size, 26px);
            font-weight: 700;
            color: $pallete-3;
            text-transform: uppercase;
            @include rem(margin, 10px 0px);
            @include rem(padding, 0px);
            span, .label {
                position: relative;
                float: left;
                left: auto;
                top: auto;
            }
            .label {
                @include rem(margin, 4px 10px);
            }
        }
        &-location {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-3; @include rem(margin-right, 8px); }
        }
        &-favorite {
            display: inline-block;
            color: $pallete-18;
            font-weight: 700;
            i { color: $pallete-19; @include rem(margin, 0px 8px); }
        }
        &-description {
            display: block;
            color: $pallete-7;
            line-height: 170%;
            max-height:142px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            &:hover {
                color: $pallete-2;
            }
        }
    }

    &__property {
        list-style: none;

        li {
            color: $pallete-7;
            line-height: 180%;
            text-align: right;

            h2 {
                @include rem(font-size, 16px);
                color: $pallete-3;
                text-align: left;
            }
            span {
                float: left;
                text-align: left;
            }
        }
    }

    &__slider, &__tabs {
        display: block;
        float: left;
        width: 100%;

        &-toggle {
            position: absolute;
            top: -43px;
            left: 45%;
            @include rem(padding, 12px 15px);
            font-weight: 600;
            color: $pallete-2;
            background: $pallete-3;
            @include rem(margin, 0px auto);
            @include border-top-radius(3px);
            cursor: pointer;
            &:before {
                content: "\f03e";
                @include rem(margin-right, 10px);
                font: normal normal normal 14px/1 FontAwesome;
            }
        }

        &.collapse {
            .slider {
                display: none;
            }
        }
    }

    &__sticky {
        position: relative;
        bottom: 0;

        @include breakpoint(lg) {
            position: absolute;
            bottom: 0;
        }  
        width: 100%;
    }

    &__buttons {
        display: table;
        width: 100%;
        @include rem(padding,10px 12px);
    }
}
