<div class="profile">
    <div class="profile__flash">
        <div id="profile__flash-check"></div>
    </div>
    <div class="profile__info" v-if="performer">

        <div class="profile__info-image col-sm-12 col-md-3">
            <div class="image" v-on:click="openFullSlider(perfphotos[0].id)" :style="{ 'background-image': `url('${getAvatarImage(performer, 'medium')}')` }">
                <div class="image__fullslider">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <div class="labelwrapper">
                    <div class="label" :class="getPerformerLabel(performer)" v-t="'performers.labels.' + getPerformerLabel(performer)"></div>                                            
                </div>
            </div>
        </div>

        <div class="profile__info-content col-sm-12 col-md-9">

            <div class="profile__content col-sm-12 col-md-8 col-lg-9">
                <h1 class="profile__content-nick"><span>{{ performer.nickname }}</span></h1>
                <div class="profile__content-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ performer.location }}</div>
                <a class="profile__content-favorite" v-on:click="performer.isFavourite ? removeFavourite(performer) : addFavourite(performer)">
                    <i class="fa fa-star" aria-hidden="true"></i>  {{ performer.isFavourite ? $t('profile.favorite-remove') : $t('profile.favorite-add') }}
                </a>
                <p class="profile__content-description">{{ performer.description | truncate(displayFullDescription) }}</p>

                <a class="btn btn-orange btn-fa" :class="{ 'fa-minus': displayFullDescription, 'fa-plus': !displayFullDescription }" v-if="performer.description.length > 400" v-on:click="displayFullDescription = !displayFullDescription">
                    <span>{{ displayFullDescription ? $t('profile.hide') : $t('profile.expand') }}</span>
                </a>
            </div>

            <ul class="profile__property col-sm-12 col-md-4 col-lg-3">
                <li><h2 v-t="'profile.property'"></h2></li>
                <li><span v-t="'profile.age'"></span>{{ performer.age }}</li>
                <li><span v-t="'profile.height'"></span>{{ performer.height }}</li>
                <li v-if="performer.weight>0"><span v-t="'profile.weight'"></span>{{ performer.weight }}</li>
                <li><span v-t="'profile.cupsize'"></span>{{ breastSize(performer.cupSize) }}</li>
                <li><span v-t="'profile.eyecolor'"></span>{{ eyeColor(performer.eyeColor) }}</li>
            </ul>

        </div>

    </div>

    <div class="profile__sticky">

        <div class="profile__slider" v-if="perfphotos.length != 0">
            <div class="slider">
                <photo-slider v-if="performer && displaySlider" :performer="performer.id" :photos="perfphotos" v-on:photoSelected="openFullSlider"></photo-slider>
                <photo-slider-full v-if="performer && fullSliderVisible" v-on:close="fullSliderVisible = false" :displayPic="displayPic" :photos="perfphotos" :performer="performer.id"></photo-slider-full>
            </div>
        </div>

        <div class="profile__tabs hidden-xs">
            <tabs :performer="performer" v-on:startSession="startSession" v-on:startVoyeur="startVoyeur"></tabs>
        </div>

        <div class="profile__buttons hidden-sm hidden-md hidden-lg" v-if="performer && user">
            <button class="btn btn-full btn-xxl btn-green btn-fa fa-video-camera" v-if="tabEnabled('cam', performer, user)" v-on:click="authenticated ? startSession({sessionType: canPeek ? 'PEEK' : 'VIDEO', payment:'CREDITS'}) : openModal('login')"><span v-t="canPeek ? 'tabs.peekbtn' : 'tabs.webcambtn'"></span></button>
            <button class="btn btn-full btn-xxl btn-green btn-fa fa-phone" v-if="tabEnabled('phone', performer, user)" v-on:click="startCall()"><span >{{ $t('tabs.callbtn') }}</span></button>
            <button style="display: none" class="btn btn-full btn-xxl btn-green btn-fa fa-eye" v-if="tabEnabled('voyeur', performer, user)" v-on:click="authenticated ? startVoyeur(true) : openModal('login')"><span >{{ $t('tabs.voyeurbtn') }}</span></button>
            <router-link  v-if="tabEnabled('email', performer, user)" :to="{ name: 'Newmessage', params: { advertId: performer.id } }">
                <button class="btn btn-full btn-xxl btn-green btn-fa fa-envelope"><span>{{ $t('tabs.mailbtn') }}</span></button>
            </router-link>
        </div>
    </div>

    <confirmation v-if="activeState === 'pending'" v-on:cancel="cancel" :type="'loader'"></confirmation>
    <confirmation v-if="enableFlash" :type="'flashNagger'" v-on:accept="unNagFlash"></confirmation>
</div>
