<div>
    <div class="overlay" v-if="country === 'dee'"></div>
    <div class="agecheck" :class="{ 'large': country === 'dee' }">
        <div class="container-fluid">
            <div class="agecheck__text">
                <p v-t="'footer.agecheck'"></p>
                <a v-on:click="acceptAge" class="btn btn-small btn-orange" v-t="'footer.olderthen'"></a>
                <p> {{ $t('footer.or') }} <a v-on:click="declineAge" v-t="'footer.leavewebsite'"></a></p>
            </div>
        </div>
    </div>
</div>