//
// Thankyou
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.thankyou {
    text-align: center;

    h1 {
        font-weight: 700;
        @include rem(font-size,30px);
        @include rem(margin-bottom, 0px);
    }

    p {
        font-weight: 600;
        @include rem(font-size,15px);
        @include rem(margin-top, 0px);
    }

    img { 
        display: table;
        max-width: 287px; 
        @include rem(margin, 35px auto);
        @include breakpoint(xs) {
            max-width: 195px; 
        }
    }

    &__favo {

        &-performer {
            .image {
                position: relative;
                margin: 0 auto;
                height: 188px;
                width: 188px;
                border: 1px solid $pallete-9;
                @include border-radius(188px);
            }

            .name {
                font-weight: 700;
                text-align: center;
                @include rem(padding, 15px 0px);
                @include rem(font-size, 22px);
                color: $pallete-3;
                text-transform: uppercase;
            }
        }
    }
}