//
// Videochat
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

$semi-transparent-bg: rgba(0, 0, 0, 0.6);
$streamback-width: 305px;
$streamback-height: 229px;
$streamback-width-small: calc(#{$streamback-width} / 2);
$streamback-height-small: calc(#{$streamback-height} / 2);

.videochat {
    position: fixed;
    z-index: 2;
    right: 0px;
    width: 100%;
    height: 100vh;
    background: $pallete-13;

    @include breakpoint(md) {
        width: calc(100% - 250px);
    }

    &__screen{
        position: relative;
        z-index: 1;
        display: table;
        height: 100vh;
        width: 100%;

        &-object {
            position: absolute;
            top: 0px;
            display: table;
            width: 100%;
            height: auto;

            @include breakpoint(md) { height: 100%; }
            @include breakpoint(lg) { height: 100%; }

            .jsmpeg {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: 100%;

                @include breakpoint(md) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @include breakpoint(lg) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .nanocosmos {
                div { width: 80px !important; height: 80px !important; }
                video {
                    @media screen and (max-width: 992px) {
                        transform: none !important;
                        position: relative !important;
                        left: 0px !important;
                        top: 0px !important;
                    }
                }
            }

            div, video {
                width: 100%;
                height: 100vh;
            }
        }
    }

    &__broadcast{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        &-object{
            float: left;
            width: $streamback-width;
            height: $streamback-height;
            @include breakpoint(xs) {
                width: $streamback-width-small;
                height: $streamback-height-small;
            }
            background: $semi-transparent-bg;
            @include rem(margin-bottom,10px);
            border-radius: 5px;
            text-align: center;
            overflow: hidden;

            p {
                display: table;
                height: 100%;
                width: 100%;
                @include rem(padding,15px 10px);
                font-weight: 600;
                @include rem(margin,0px);
                color: $pallete-1;
                line-height: 100%;
                background: $pallete-3;
                img {
                    @include rem(margin-top, 10px);
                }

                @include breakpoint(xs) {
                    @include rem(font-size, 12px);
                }
            }

            .btn{
                margin-top: 30%;
            }

            div{
                width: 100%;
                height: 100%;
            }

            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-buttons {
            position: absolute;
            top: 5px;
            right: 0;
            float: left;
            display: table;
            @include border-radius(5px);
            @include rem(padding,0 5px );
            @include rem(margin, 0);
            width: 100%;

            a {
                list-style: none;
                text-align: center;
                background: $pallete-13;
                float: right;
                width: 38px;
                color: $pallete-2; 
                @include rem(font-size, 15px);
                @include rem(padding,12px 10px);
                @include rem(margin-left,5px);
                @include border-radius(3px);
                cursor: pointer;
                &.active { color: $pallete-3; }

                .fa{
                    @include rem(font-size, 15px);
                    color: $pallete-2;
                    &.active {
                        color: $pallete-3;
                    }
                }
            }
            .hidden{
                visibility: hidden;
            }

        }
    }

    &__devices{
        float: right;
        clear: both;
        background: $semi-transparent-bg;
        @include border-left-radius(5px);
        @include rem(padding,10px 10px 0px 10px);
        width: $streamback-width;
        @include breakpoint(xs) {
            width: calc(#{$streamback-width-small} + 60px);
        }

        &-item {
            display: table;
            width: 100%;
            @include rem(margin,0px 0px 10px 0px);

            i {
                display: table-cell;
                width: 35px;
                font-size: 20px;
                color: $pallete-2;
                @include rem(padding, 0px 5px);
            }
            select {
                display: table-cell;
                width: calc(100% - 35px);
                @include rem(font-size, 14px);
                background: $pallete-16;
                @include rem(padding,8px 8px);
                border: none;
                color: $pallete-2;
                @include border-radius(3px);
                &:focus { outline: none; }
                width: 100%;

                @include breakpoint(xs) {
                    @include rem(font-size, 16px);
                }
            }
        }
    }

    &__close {
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 10px;
        color: $pallete-2;
        @include rem(font-size, 26px);
        background: $semi-transparent-bg;
        @include rem(padding, 6px 15px);
        @include border-right-radius(5px);
        cursor: pointer;
    }

    &__favourite {
        position: absolute;
        z-index: 2;
        right: 0px;
        top: 70px;
        color: $pallete-2;
        @include rem(font-size, 26px);
        background: $semi-transparent-bg;
        @include rem(padding, 6px 13px);
        @include border-left-radius(5px);
        cursor: pointer;

        .is-favourite {
            color: #ffb400;
        }
    }

    &__gotoservice {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        left: 10px;
        &-start-stop {
            font-weight: 600;
            color: $pallete-2;
            float: left;
            background: $pallete-3;
            @include rem(padding, 12.5px);
            @include border-radius(5px);
            cursor: pointer;
        }
    }

    &__controls {
        display: table;
        width: 100%;
        @include border-radius(5px);
        @include gradient($pallete-3, $pallete-5, vertical);
        @include rem(padding,5px);

        &-name { 
            float: left;
            @include rem(padding,10px 5px);
            font-weight: 700; 
            color: $pallete-2; 
            i { @include rem(font-size, 12px); font-style: normal; font-weight: 400; }
        }

        &-btns {
            @include rem(padding,0px);
            @include rem(margin,0px);
            a {
                float: right;
                color: $pallete-2; 
                @include rem(font-size, 15px);
                @include rem(padding,12px 10px);
                @include rem(margin-left,5px);
                background: $pallete-1;
                @include border-radius(5px);
                &.active { color: $pallete-3; }
            }
        }

    }

    &__chat {
        position: fixed;
        z-index: 2;
        bottom: 5px;
        right: 5px;
        width: calc(100% - 10px);
        overflow: hidden;
        @include breakpoint(md) {
            right: 5px;
        }
        @include breakpoint(lg) {
            right: 5px;
        }

        &-content {
            background: $pallete-11;
            @include border-top-radius(5px);
        }

        &-top{
            display: block;
            height: 44px;
            @include rem(padding,5px);
            width: 100%;
            @include rem(margin-top,5px);

            .close {
                float: right;
                @include rem(font-size, 24px);
                color: $pallete-3;
                background: $pallete-9;
                @include rem(padding,0px 10px);
                @include border-radius(5px);
                cursor: pointer;
            }

            .resize {
                float: left;
                position: relative ;
                @include rem(font-size, 24px);
                color: $pallete-2;
                background: $pallete-1;
                width: 38px;
                height: 35px;
                background: $pallete-9;
                @include rem(padding,3px 10px);
                @include border-radius(5px);
                @include rem(margin-right, 5px);
                cursor: pointer;
                i {
                    position: absolute;
                    top: 6px;
                    &:last-child {
                        left: 3px;
                        @include rem(font-size, 20px);
                    }
                }
            }

            .notifier {
                float: left;
                @include rem(font-size, 24px);
                color: $pallete-2;
                background: $pallete-3;
                @include rem(padding,0px 5px);
                @include rem(margin-right, 5px);
                @include border-radius(5px);
                cursor: pointer;
            }
        }

        &-list {
            margin: 0;
            padding: 5px 0px 0px 0px;
            list-style: none;
            height: 211px;
            background: $pallete-11;

            &.medium {
                h3 { @include rem(font-size, 18px); }
                p { @include rem(font-size, 16px); }
            }

            &.large {
                h3 { @include rem(font-size, 22px); }
                p { @include rem(font-size, 20px); }
            }

            &.small {
                height: 105px;
            }

            overflow: auto;

            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;

            li {
                border-bottom: 1px solid rgba(255,255,255,0.2);
                @include rem(padding,8px 10px);

                h3 {
                    color: $pallete-3;
                    margin: 0;
                    @include rem(font-size, 14px);
                    word-break: break-word;
                }

                p {
                    color: $pallete-2;
                    @include rem(font-size, 12px);
                    font-weight: 700;
                    margin: 0;
                    word-break: break-word;
                }
            }

            &.vhidden {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                height: 0;
            }
        }

        &-input {
            position: relative;
            display: block;
            height: 50px;
            width: 100%;
            @include rem(padding,8px);
            background: $pallete-9;

            input {
                @include rem(font-size, 14px);
                background: $pallete-16;
                @include rem(padding,8px 8px);
                border: none;
                color: $pallete-2;
                @include border-radius(3px);
                &:focus { outline: none; }
                width: calc(100% - 95px);

                @include breakpoint(xs) {
                    @include rem(font-size, 16px);
                }

            }

            .btns {
                position: absolute;
                top: 0;
                right: 0;
                width: 103px;
                background: $pallete-9;
                height: 45px;
                @include rem(padding,8px 10px 8px 5px);
            }

            .smilie {
                color: $pallete-2;
                @include rem(font-size, 18px);
                background: $pallete-14;
                border: none;
                @include rem(padding,8px 10px);
                @include border-radius(3px);
                @include rem(margin,0px 0px 0px 5px);
            }

            .send {
                color: $pallete-2;
                @include rem(font-size, 18px);
                background: $pallete-3;
                border: none;
                @include rem(padding,8px 10px);
                @include border-radius(3px);
                @include rem(margin,0px 0px 0px 5px);
            }
        }

        @include breakpoint(md) {
            width: 365px;
            bottom: 5px;
            @include border-radius(5px);
        }
    }
}
