<div class="videochat">
    <div class="videochat__screen">
        <div class="videochat__screen-close" v-on:click="close"><i class="fa fa-times"></i></div>
        <div class="videochat__screen-object">
            <canvas class="jsmpeg"></canvas>
        </div>
    </div>
    <div class="videochat__chat">
        <div class="videochat__chat-top">
            <a class="close"><i class="fa fa-times-circle"></i></a>
        </div>
        <ul class="videochat__chat-list">
            <li>
                <h3>Clubsense</h3>
                <p>Wat een mooi verhaal</p>
            </li>
            <li>
                <h3>Clubsense</h3>
                <p>ja dat vind ik ook</p>
            </li>
            <li>
                <h3>Clubsense</h3>
                <p>wahahahah</p>
            </li>
            <li>
                <h3>Clubsense</h3>
                <p>dit is wel echt vette chat</p>
            </li>
            <li>
                <h3>Clubsense</h3>
                <p>wahahahah</p>
            </li>
        </ul>
        <div class="videochat__chat-input">
            <form>
                <input type="text" name="text" class="searching">
                <div class="btns">
                    <a class="smilie fa fa-smile-o"></a>
                    <a class="send fa fa-paper-plane-o"></a>
                </div>
            </form>
        </div>
    </div>
</div>