<div class="videochat">
    <div class="videochat__screen">
        <div class="videochat__screen-object">
            <component :is="type"
                v-on:stateChange="viewerStateChange"
                v-on:error="viewerError"
                :wowza="wowza"
                :playStream="playStream">
            </component>
        </div>
    </div>
    <div class="videochat__broadcast" v-if="sessionType != 'PEEK'">
        <div class="videochat__broadcast-object">
            <a class="btn btn-large btn-orange" v-if="!broadcasting.cam" v-on:click="startCam">{{ $t("start cam") }}</a>
            <broadcast v-if="broadcasting.cam"
                v-on:stateChange="broadcastStateChange"
                v-on:error="broadcastError"
                :streamType="streamTransportType"
                :wowza="wowza" 
                :publishStream="publishStream" 
                :mic="broadcasting.mic" 
                :cam="broadcasting.cam" 
                :quality="1" >
            </broadcast>
        </div>
        <ul class="videochat__broadcast-buttons">
            <li><a v-on:click="toggleCam" class="fa fa-video-camera" :class="{ active:broadcasting.cam }" ></a></li>
            <li v-if="broadcasting.cam"><a v-on:click="toggleMic" class="fa fa-microphone" :class="{ active:broadcasting.mic }"></a></li>
            <li v-if="broadcasting.cam"><a v-on:click="toggleSettings" class="fa fa-cogs" :class="{ active:broadcasting.settings }"></a></li>
        </ul>
        <div class="videochat__devices" v-if="broadcasting.settings">
            <div class="videochat__devices-item">
                <i class="fa fa-video-camera"></i>
                <select v-model="broadcasting.cam" v-on:change="setCamera">
                    <option v-for="camera in cameras">
                        {{ camera.name }}
                    </option>
                </select>
            </div>
            <div class="videochat__devices-item">
                <i class="fa fa-microphone"></i>
                <select v-model="broadcasting.mic" v-on:change="setMicrophone">
                    <option v-for="mic in microphones">
                        {{ mic.name }}
                    </option>
                </select>
            </div>
            <p style="display: none" v-for="message in stateMessages">{{ message }}</p>
        </div>
    </div>
    

    <div class="videochat__close" v-on:click="close"><i class="fa fa-times"></i></div>

    <chat v-if="sessionType != 'PEEK'" :performer-name="performer.nickname" :user-name="displayName"></chat>

    <confirmation v-if="askToLeave" :type="'disconnect'" v-on:accept="leave" v-on:cancel="stay"></confirmation>
</div>