//
// Videochat
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

$semi-transparent-bg: rgba(0, 0, 0, 0.6);
$streamback-width: 305px;
$streamback-height: 229px;
$streamback-width-small: calc(#{$streamback-width} / 2);
$streamback-height-small: calc(#{$streamback-height} / 2);

.videochat {
    position: fixed;
    z-index: 2;
    right: 0px;
    width: 100%;
    height: 100vh;
    background: $pallete-13;

    @include breakpoint(md) {
        width: calc(100% - 250px);
    }

    &__screen{
        position: relative;
        z-index: 1;
        display: table;
        height: 100vh;
        width: 100%;

        &-object {
            position: absolute;
            top: 0px;
            display: block;
            width: 100%;
            height: auto;

            @include breakpoint(md) { height: 100%; }
            @include breakpoint(lg) { height: 100%; }
            
            .jsmpeg {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: 100%;

                @include breakpoint(md) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                }

                @include breakpoint(lg) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                }
            }

            .nanocosmos {
                div { width: 80px !important; height: 80px !important; }
            }

            div, video {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__start-stop {
        font-weight: 600;
        color: $pallete-2;
        float: left;
        background: $pallete-3;
        @include rem(padding, 12.5px);
        @include border-radius(5px);
        cursor: pointer;
    }

    &__broadcast{
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 1;

        &-object{
            float: left;
            width: $streamback-width;
            height: $streamback-height;
            @include breakpoint(xs) {
                width: $streamback-width-small;
                height: $streamback-height-small;
            }
            @include rem(margin, 0px 0px 5px 0px);
            background: $semi-transparent-bg;
            border-radius: 5px;
            text-align: center;
            overflow: hidden;
            @include rem(margin-left, 10px);

            p {
                display: table;
                height: 100%;
                width: 100%;
                @include rem(padding,15px 10px);
                font-weight: 600;
                @include rem(margin,0px);
                color: $pallete-1;
                line-height: 100%;
                background: $pallete-3;
                img {
                    @include rem(margin-top, 10px);
                }

                @include breakpoint(xs) {
                    @include rem(font-size, 12px);
                }
            }

            .btn{
                margin-top: 30%;
            }

            div{
                width: 100%;
                height: 100%;
            }

            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-buttons {
            float: left;
            display: table;
            @include border-radius(5px);
            @include rem(padding,0);
            @include rem(margin, 58px 0px 0px 0px);

            li{
                list-style: none;
                text-align: center;
                background: $semi-transparent-bg;
                @include rem(padding, 12.5px);
                width: 50px;
                @include rem(margin, 0px 0px 10px 10px);
                @include border-left-radius(5px);
                cursor: pointer;

                .fa{
                    @include rem(font-size, 25px);
                    color: $pallete-2;
                    &.active {
                        color: $pallete-3;
                    }
                }
            }
            .hidden{
                visibility: hidden;
            }

        }
    }

    &__devices{
        float: right;
        clear: both;
        background: $semi-transparent-bg;
        @include border-left-radius(5px);
        @include rem(padding,10px 10px 0px 10px);
        width: calc(#{$streamback-width} + 60px);
        @include breakpoint(xs) {
            width: calc(#{$streamback-width-small} + 60px);
        }

        &-item {
            display: table;
            width: 100%;
            @include rem(margin,0px 0px 10px 0px);

            i {
                display: table-cell;
                width: 35px;
                font-size: 20px;
                color: $pallete-2;
                @include rem(padding, 0px 5px);
            }
            select {
                display: table-cell;
                width: calc(100% - 35px);
                @include rem(font-size, 14px);
                background: $pallete-16;
                @include rem(padding,8px 8px);
                border: none;
                color: $pallete-2;
                @include border-radius(3px);
                &:focus { outline: none; }
                width: 100%;

                @include breakpoint(xs) {
                    @include rem(font-size, 16px);
                }
            }
        }
    }

    &__close {
        position: absolute;
        z-index: 2;
        right: 0px;
        top: 10px;
        color: $pallete-2;
        @include rem(font-size, 26px);
        background: $semi-transparent-bg;
        @include rem(padding, 6px 15px);
        @include border-left-radius(5px);
        cursor: pointer;
    }

    &__favourite {
        position: absolute;
        z-index: 2;
        right: 0px;
        top: 70px;
        color: $pallete-2;
        @include rem(font-size, 26px);
        background: $semi-transparent-bg;
        @include rem(padding, 6px 15px);
        @include border-left-radius(5px);
        cursor: pointer;

        .is-favourite {
            color: #ffb400;
        }
    }

    &__videocall {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 70px;
        background-color: greenyellow;
        padding: 10px;
    }

    &__chat {
        position: fixed;
        z-index: 2;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: $pallete-11;
        @include border-top-radius(5px);
        overflow: hidden;

        &-top{
            display: block;
            height: 44px;
            @include rem(padding,5px);
            width: 100%;
            background: $pallete-11;
            //border-bottom: 1px solid rgba(255,255,255,0.09);
            
            .close {
                float: right;
                @include rem(font-size, 24px);
                color: $pallete-3;
                background: $pallete-9;
                @include rem(padding,0px 10px);
                @include border-radius(5px);
                cursor: pointer;
            }
            
        }

        &-list {
            margin: 0;
            padding: 5px 0px 0px 0px;
            list-style: none;
            height: 211px;
            background: $pallete-11;
            &.small {
                height: 105px;
            }
            // @include breakpoint(xs) {
            //     height: 105px;
            // }

            overflow: auto;

            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;

            li {
                border-bottom: 1px solid rgba(255,255,255,0.2);
                @include rem(padding,8px 10px);

                h3 {
                    color: $pallete-3;
                    margin: 0;
                    @include rem(font-size, 14px);
                }

                p {
                    color: $pallete-2;
                    @include rem(font-size, 12px);
                    font-weight: 700;
                    margin: 0;
                    word-break: break-word;
                }
            }

            &.vhidden {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                height: 0;
            }
        }

        &-input {
            position: relative;
            display: block;
            height: 50px;
            width: 100%;
            @include rem(padding,8px);
            background: $pallete-9;

            input {
                @include rem(font-size, 14px);
                background: $pallete-16;
                @include rem(padding,8px 8px);
                border: none;
                color: $pallete-2;
                @include border-radius(3px);
                &:focus { outline: none; }
                width: calc(100% - 95px);

                @include breakpoint(xs) {
                    @include rem(font-size, 16px);
                }
                
            }

            .notifier {
                position: absolute;
                right: 107px;
                top: 12px;
                @include rem(font-size, 22px);
                color: $pallete-2;
                background: $pallete-3;
                @include rem(padding,0px 5px);
                @include border-radius(5px);
                cursor: pointer;
            }

            .btns {
                position: absolute;
                top: 0;
                right: 0;
                width: 103px;
                background: $pallete-9;
                height: 45px;
                @include rem(padding,8px 10px 8px 5px);
            }

            .smilie {
                color: $pallete-2;
                @include rem(font-size, 18px);
                background: $pallete-14;
                border: none;
                @include rem(padding,8px 10px);
                @include border-radius(3px);
                @include rem(margin,0px 0px 0px 5px);
            }

            .send {
                color: $pallete-2;
                @include rem(font-size, 18px);
                background: $pallete-3;
                border: none;
                @include rem(padding,8px 10px);
                @include border-radius(3px);
                @include rem(margin,0px 0px 0px 5px);
            }
        }

        @include breakpoint(md) {
            width: 305px;
            bottom: 5px;
            left: 255px;
            @include border-radius(5px);
        }
    }
}

