<footer>
    <div class="footer">
        <div class="container-fluid">
            <seo></seo>
        </div>
        <div class="footer__copyright">
            <div class="container-fluid">
                <ul>
                    <li><router-link :to="$localize({ name: 'Contact'})" v-t="'contact.title'" rel="nofollow"></router-link></li>
                    <li><router-link :to="$localize({ name: 'Policy'})" v-t="'footer.privacypolicy'" rel="nofollow"></router-link></li>
                    <li><router-link :to="$localize({ name: 'Terms'})" v-t="'footer.terms'" rel="nofollow"></router-link></li>
                    <li><router-link :to="$localize({ name: 'Promos'})" v-t="'footer.promos'" rel="nofollow"></router-link></li>
                    <li><a v-if="branding" :href="$t('footer.sexstoriesurl')" v-t="'footer.sexstories'"></a></li>
                    <li><a :href="$t('footer.webcamurl')" v-t="'footer.webcam'"></a></li>
                </ul>

                <span v-t="'footer.copyright'"></span>
            </div>
        </div>
    </div>
</footer>