<div class="top hidden-xs">
    <div class="container-fluid">
        <div class="top__logo col-xs-12 col-sm-3 col-md-2">
            <img alt="logo" :src="logo" v-on:click="routeGo('Performers')">
        </div>

        <div class="top__numbers col-xs-12 col-sm-6 col-md-7" v-if="info && info.phone_enabled === 1">
            <div class="row">
                <div class="top__numbers-number" v-bind:class="{ 'large': !branding }" >
                    <span :class="'flag flag-' + info.country"></span>
                    {{ activeCampaign.number }} <i>{{ activeCampaign.cpm }} {{ $t('top.numbers.cpm') }}</i>
                </div>
                <div class="top__numbers-number" v-if="branding">
                    <span class="flag flag-be"></span>
                    0907-23000 <i>125 {{ $t('top.numbers.cpm') }}</i>
                </div>
            </div>
        </div>

        <div class="top__banner hidden-xs col-xs-12 col-sm-3 nopad" v-if="info">
            <div class="top__banner-happyhour" v-if="info.marketing.current" v-on:click="routeGo('Promos')">
                <div class="col-1">
                    <span class="h1" v-t="$t('top.banner.happyhour')"></span>
                    <span class="h2">{{ activeCampaign.number }}</span>
                </div>
                <div class="col-2">
                    <span class="h3">{{ activeCampaign.cpm }} {{ $t('top.numbers.cpm') }}</span>
                    <span class="h4" v-t="$t('top.banner.seeactionpage')"></span>
                </div>
            </div>

            <div class="top__banner-credits"v-if="!info.marketing.current" v-on:click="routeGo('Payment')">
                <div class="discount" v-for="fee in fees">
                    <span class="discount__percent">{{ fee.percentage.split('.')[0] }}<i>%</i></span>
                    <span class="discount__text"><span> {{ $t('top.banner.extra') }} <i v-t="'top.banner.credits'"></i></span></span>
                    <span class="discount__buy" v-t="'top.banner.purchase'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
