//
// Header top
// --------------------------------------------------

// Imports

@import "../../../../styles/_mixins.scss";
@import "../../../../styles/_settings.scss";

// Styling

.top {
    position: relative;
    z-index: 1;
    display: table;
    width: 100%;
    background: $pallete-1;

    &__logo {
        @include rem(padding, 22px 0px);
        cursor: pointer;

        img {
            display: table;
            width: 100%;
            max-width: 146px;
            @include rem(margin, 0 auto);
            @include breakpoint(xs) {
                max-width: 180px;
            }
        }
    }

    &__numbers {
        @include rem(margin, 16px 0px 8px 0px);
        padding: 0px 0px !important;
        .row {
            display: table;
            @include rem(margin, 0 auto);
        }

        &.desc { @include rem(margin, 5px 0px 5px 0px); }

        &-number {
            color: $pallete-3;
            padding: 0;
            @include rem(font-size, 23px);
            font-weight: 700;
            line-height: 80%;

            &.large {
                @include rem(padding, 13px 10px);
            }

            .nr {
                color: $pallete-3;
                @include rem(font-size, 23px);
                font-weight: 700;
            }

            .cost {
                font-style: normal;
                font-weight: 300;
                color: $pallete-2;
                @include rem(font-size, 9px);
                letter-spacing: -0.3px;
            }

            .desc {
                display: block;
                font-style: normal;
                font-weight: 300;
                color: $pallete-2;
                @include rem(font-size, 8px);
                line-height: 8px;
            }

            .flag {
                float: left;
                @include rem(margin, -6px 10px -6px 0px);
            }

            .fa {
                @include rem(font-size, 23px);
                width: 15px;
                text-align: center;
            }
            
        }
    }

    &__banner {


        &-credits {
            float: right;
            @include rem(padding, 5px 0px 0px 0px);
            cursor: pointer;
            @include rem(margin, 15px 0px);

            .discount {
                position: relative;
                float: left;
                display: table;
                width: 74px;
                height: 47px;
                margin-top: -5px;
                line-height: 90%;
                &__percent {
                    display: table-cell;
                    line-height: 33px;
                    color: $pallete-7;
                    @include rem(font-size, 38px);
                    letter-spacing: -6.5px;
                    font-style: italic;
                    @include rem(padding, 0px 10px 0px 0px);


                    i {
                        @include rem(font-size, 10px);
                        @include rem(padding, 10px 0px 0px 5px);
                    }
                }
                &__text {
                    display: table-cell;
                    color: $pallete-7;
                    @include rem(font-size, 12px);
                    font-style: italic;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 100%;
                    span {
                        float: left;
                        width: 100%;
                    }

                    i {
                        float: left;
                        width: 100%;
                        color: $pallete-3;
                        @include rem(font-size, 9px);
                    }
                }
                &__buy {
                    position: absolute;
                    left: 0;
                    bottom: 8px;
                    line-height: 5%;
                    @include rem(font-size, 10.2px);
                    color: $pallete-20;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 600;
                    letter-spacing: -1px;
                }
            }

            // Mobile Credits
            @include breakpoint(xs) {
                display: table;
                float: unset;
                @include rem(margin, 5px auto);
            }
        }


        &-happyhour {
            float: right;
            width: 235px;
            cursor: pointer;
            @include rem(margin, 15px 0px);
            
            .col-1 {
                float: left;
                width: 65%;
            }
            .col-2 {
                position: relative;
                float: right;
                width: 30%;
            }
            .h1 {
                text-transform: uppercase;
                font-style: italic;
                @include rem(font-size, 26px);
                color: $pallete-2;
                line-height: 70%;
                font-weight: 700;
                letter-spacing: -1.5px;
            }
            .h2 {
                text-transform: uppercase;
                font-style: italic;
                @include rem(font-size, 31px);
                color: $pallete-3;
                line-height: 70%;
                font-weight: 700;
            }
            .h3 {
                position: absolute;
                top: 15px;
                left: -30px;
                display: block;
                -moz-transform: rotate(90.0deg);
                -o-transform: rotate(90.0deg);
                -webkit-transform: rotate(90.0deg);
                transform: rotate(90.0deg);
                @include rem(padding-left, 10px);
                @include rem(font-size, 14px);
                font-weight: 600;
                color: $pallete-7;
                line-height: 122%;
                width: 100%;
            }
            .h4 {
                display: block;
                border-left: 1px solid rgba(255,255,255,0.2);
                @include rem(margin-left, 20px);
                @include rem(padding-left, 10px);
                @include rem(font-size, 13px);
                color: $pallete-7;
                line-height: 122%;
                width: 10%
            }

            // Mobile Happyhour 
            @include breakpoint(xs) {
                width: 100%;
                text-align: center;
                line-height: 20%;
                @include rem(margin, 10px 0px);

                .h1 { font-style: normal; @include rem(font-size, 29px); }
                .h2, .h4 { display: none; }
                .h3 { 
                    position: relative; 
                    top: 0; 
                    left: 0; 
                    transform: none; 
                    width: auto; 
                    font-style: normal; 
                    @include rem(font-size, 29px); 
                    line-height: 70%;
                    letter-spacing: -1.5px;
                    color: $pallete-3;
                }
                .col-1, .col-2 { float: none; display: inline-block; width: auto; }
            }
        }
    }
}
