<div class="top">
    <div class="top__message hidden-xs" v-if="topMessage">
        <div class="container-fluid" v-html="$t('top.noie11')"></div>
    </div>

    <div class="container-fluid">

        <div class="top__logo hidden-xs col-xs-12 col-sm-3 col-md-2" v-on:click="openRoute('Performers')">
            <img alt="logo" :src="logo">
        </div>

        <div class="top__numbers hidden-xs col-xs-12 col-sm-5 col-md-6" v-if="info" v-bind:class="{ 'desc': info.country === 'de' }">
            <div class="row">
                <div class="top__numbers-number" v-for="(campaign, index) in activeCampaign" v-bind:class="{ 'large': countNumbers(activeCampaign) === 1 }" >
                    <span class="flag flag-nl" v-if="info.country === 'nl' && index === 0"></span>
                    <span class="flag flag-be" v-if="info.country === 'nl' && index === 1"></span>
                    <span class="fa fa-phone" v-if="info.country === 'de' && index === 0"></span>
                    <span class="fa fa-mobile" v-if="info.country === 'de' && index === 1"></span>

                    <span class="nr">{{ campaign.number }}</span>
                    <span class="cost" v-if="campaign.cpm != '0'">{{ campaign.cpm | currency }} {{ $t('top.numbers.nr-' + index) }}</span>
                    <span class="desc" v-if="info.country === 'de'" v-html="$t('top.numbers.nrdesc-' + index)"></span>
                </div>
            </div>
        </div>

        <div class="top__banner col-xs-12 col-sm-4 nopad" v-if="info">
            <div class="top__banner-happyhour" v-if="info.marketing.current" v-on:click="openRoute('Promos')">
                <div class="col-1">
                    <span class="h1" v-t="'top.banner.promos.' + info.marketing.current"></span>
                    <span class="h2">{{ activeCampaign[0].number }}</span>
                </div>
                <div class="col-2">
                    <span class="h3">{{ activeCampaign[0].cpm }} {{ $t('top.banner.happyhour_cpm') }}</span>
                    <span class="h4" v-t="'top.banner.seeactionpage'"></span>
                </div>
            </div>

            <div class="top__banner-credits " v-if="!info.marketing.current && fees" v-on:click="goBanner(authenticated)">
                <div class="discount" v-for="fee in fees">
                    <span class="discount__percent">{{ fee.percentage }}</span><i>%</i></span>
                    <span class="discount__text"><span> {{ $t('top.banner.extra') }} <i v-t="'top.banner.credits'"></i></span></span>
                    <span class="discount__buy">{{ $t('top.banner.purchase') }} {{ fee.amount | currency }} </span>
                </div>
            </div>

        </div>
    </div>
</div>
