<div class="modal">
    <div class="modal__title"><i class="fa fa-lock"></i><span v-t="'modals.login.title'"></span></div>
    <div class="modal__close" v-on:click="close"><i class="fa fa-times"></i></div>
    <div class="modal__content login form">
        <form v-on:submit.prevent="login">
            <div class="form__group">
                <label v-t="'modals.login.email'"></label>
                <input type="text" required v-model="email" autocorrect="off" autocapitalize="none" />
            </div>
            <div class="form__group">
                <label v-t="'modals.login.password'"></label>
                <input type="password" required v-model="password" />
                <button class="btn btn-large btn-full" v-t="'modals.login.login'"></button>
                <a class="btn btn-large btn-orange btn-full" v-on:click="openModal('register')" v-t="'modals.login.register'"></a>

                <a v-on:click="openModal('recover')">{{ $t('modals.login.forgotPassword') }}</a>
            </div>
        </form>
    </div>
</div>