//
// Performers
// --------------------------------------------------

// Imports

@import "../../../styles/_mixins.scss";
@import "../../../styles/_settings.scss";

// Styling

.performer {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.grid {
    padding: 4px !important;
}

.performers {
    display: block;
    @include rem(margin, 15px 0 0 0);
    cursor: pointer;

    &__block {
        position: relative;
        display: block;
        @include border-radius(1px);
        //overflow: hidden;

        animation: fadein 1.5s;

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }

    &__info {
        position: absolute;
        top: 0;
        width: 100%;

        &-personal {
            background: $pallete-1;
            width: 100%;
            color: $pallete-2;
            @include rem(font-size, 12px);
            @include rem(padding, 8px 10px);
            min-height: 33px;

            &-countries {
                position: absolute;
                right: 4px;
                height: 16px;
                i {
                    transform: scale(0.5);
                    @include rem(margin, -8px -7px);
                }
            }
        }

        &-services {
            width: 100%;
            background: $pallete-11;

            i {
                color: $pallete-2;
                @include rem(font-size, 16px);
                @include rem(padding, 5px 2px);
                @include rem(margin, auto 4px);
            }
        }
    }

    &__image {
        @include rem(padding-top, 32px);
        img { width: 100%; @include border-radius(1px); }
    }

    &__misc {
        position: absolute;
        bottom: 0;
        width: 100%;

        &-advert {
            display: inline-block;
            float: left;
            background: $pallete-9;
            color: $pallete-3;
            font-weight: 600;
            @include rem(font-size, 20px);
            @include rem(padding, 4px 10px);
            @include rem(margin, 4px);
            @include border-radius(3px);
        }

        &-favorite {
            display: inline-block;
            float: right;
            background: $pallete-9;
            @include rem(padding, 8px 10px);
            @include rem(margin, 4px);
            @include border-radius(3px);
            i {
                color: $pallete-7;
                @include rem(font-size, 20px);
            }

            .is-favourite {
                color: #ffb400;
            }
        }
    }
}

.performers-notfound {
    @include rem(padding, 15px);
    text-align: center;
    background: $pallete-11;
    border: 2px solid $pallete-11; 
    @include rem(font-size, 15px);
    @include border-radius(2px);
    @include rem(margin, 15px 15px 35px 15px);
    color: $pallete-7;
    font-weight: 600;
}

.performers-category {
    @include rem(margin, 30px 15px 10px 15px);
    color: $pallete-2;
    font-weight: 600;
    @include rem(padding, 0px 5px 5px 5px);
    @include rem(font-size, 16px);
    text-transform: capitalize;
    &:before {
        color: $pallete-3; 
        content: "\f105";
        font: normal normal normal 20px/1 FontAwesome;
        @include rem(margin-right, 10px);
    }
}
