<main>
    <div class="container-fluid">
        <div class="performers">
            <div class="col-xs-6 col-sm-3 col-lg-15 grid" v-for="performer in performers">
                <div class="performers__block">
                    <div class="performers__info" v-if="performer">
                        <div class="performers__info-personal">
                            {{ performer.nickname }}
                            <span class="performers__info-personal-status" :class="performerStatus(performer)"></span>
                            <span class="performers__info-personal-countries">
                                <i v-for="country in countriesList(performer.performerLanguages)" class="flag" :class="'flag-' + country"></i>
                            </span>
                        </div>
                        <div class="performers__info-services">
                            <i v-for="service in services" v-if="hasService(performer.id, service)" :class="'fa fa-' + service"></i>
                        </div>
                    </div>
                    <div class="performers__misc" v-if="performer">
                        <span class="performers__misc-advert">{{ performer.advert_numbers[0].advertNumber }}</span>
                        <span class="performers__misc-favorite" v-on:click="performer.isFavourite ? removeFavourite(performer) : addFavourite(performer)">
                            <i class="fa fa-star" :class="{ 'is-favourite': performer.isFavourite }"></i>
                        </span>
                    </div>
                    <div class="performers__image">
                        <img v-if="!performer" src="../../../assets/images/loader.gif" />
                        <router-link v-if="performer" :to="{ name: 'Profile', params: { id: performer.advert_numbers[0].advertNumber }}">
                            <img :src="getAvatarImage(performer)" />
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <pagination :limit.sync="query.limit" :offset.sync="query.offset" :total="total" :pageButtons="true" v-on:pageChange="pageChanged"></pagination>

    </div>
</main>
