<main>
    <div class="container-fluid">
        <div class="performers">
            <div class="col-xs-6 col-sm-3 col-lg-15 grid" v-if="performers.length === 0" v-for="n in 40">
                <a class="performers__block performers__block-fake">
                    <div class="performers__info" >
                        <div class="performers__info-personal">
                        </div>
                    </div>
                    <div class="performers__image">
                        <img src="../../../assets/images/loader.gif" />
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-15 grid" v-for="performer in performers">
                <div class="performers__block">
                    <div class="performers__info" >
                        <div class="performers__info-personal">
                            {{ performer.nickname }}
                            <span></span>
                        </div>
                        <div class="performers__info-services">
                            <i class="fa-video-camera" v-if="hasService(performer.id, 'cam')"></i>
                            <i class="fa fa-phone" v-if="hasService(performer.id, 'phone')"></i>
                            <i class="fa fa-mobile" v-if="hasService(performer.id, 'sms')"></i>
                            <i class="fa fa-envelope-o" v-if="hasService(performer.id, 'email')"></i>
                        </div>
                    </div>
                    <div class="performers__misc">
                        <span class="performers__misc-advert">{{ performer.advert_numbers[0].advertNumber }}</span>
                        <span class="performers__misc-favorite" v-on:click="performer.isFavourite ? removeFavourite(performer) : addFavourite(performer)">
                            <i class="fa fa-star" :class="{ 'is-favourite': performer.isFavourite }"></i>
                        </span>
                    </div>
                    <div class="performers__image">
                        <router-link :to="{ name: 'Profile', params: { id: performer.advert_numbers[0].advertNumber }}">
                            <img :src="getAvatarImage(performer)" />
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <pagination :limit.sync="query.limit" :offset.sync="query.offset" :total="total" :pageButtons="true" v-on:pageChange="pageChanged"></pagination>

    </div>
</main>
