<main class="index">
    <div class="container-fluid">
        <div class="performers-category visible-xs" v-if="query.category">{{ query.category }}</div>
        <div class="performers-notfound" v-if="noPerformers">{{ $t('performers.noperformersfound') }}</div>

        <div class="performers">
            <div class="col-xs-6 col-sm-3 col-lg-15 grid" v-if="getBanner.active && !authenticated">
                <div class="performers__block">
                    <div class="performers__info">
                        <div class="performers__image">
                            <a v-on:click="openModal('register')">
                                <img :src="getBanner.url" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-15 grid" v-for="performer in performers">
                <div class="performers__block">
                    <router-link v-if="performer" :to="{ name: 'Profile', params: { id: performer.advertId }}">
                        <div class="label" v-if="performer" :class="getPerformerLabel(performer)" v-t="'performers.labels.' + getPerformerLabel(performer)"></div>
                    </router-link>
                    <div class="performers__info" v-if="performer">
                        <div class="performers__info-personal">
                            {{ performer.nickname }}
                            <span class="status" :class="getPerformerStatus(performer)"></span>
                            <span class="performers__info-personal-countries" v-if="country === 'nl'">
                                <i v-for="country in countriesList(performer.performerLanguages)" class="flag" :class="'flag-' + country"></i>
                            </span>
                        </div>
                        <div class="performers__info-services enabled" v-if="performer">
                            <i v-for="service in services" v-if="hasService(performer.id, service)" :class="'fa fa-' + service"></i>
                        </div>
                    </div>
                    <div class="performers__misc" v-if="performer">
                        <span class="performers__misc-advert hidden-xs">{{ performer.advertId }}</span>
                        <span class="performers__misc-favorite" v-on:click="performer.isFavourite ? removeFavourite(performer) : addFavourite(performer)">
                            <i class="fa fa-star" :class="{ 'is-favourite': performer.isFavourite }"></i>
                        </span>
                        <span class="performers__misc-subscribe" v-if="$route.name === 'Favourites' && performer.isSubscribed" v-on:click="performer.isSubscribed ? removeSubscriptions(performer) : addSubscriptions(performer)">
                            <i :title="performer.isSubscribed ? $t('profile.subscribe-remove-hover', {nickname: performer.nickname} ) : $t('profile.subscribe-add-hover', {nickname: performer.nickname})" class="fa fa-bell" :class="{ 'is-subscribe': performer.isSubscribed }"></i>
                        </span>
                    </div>
                    <div class="performers__image">
                        <img v-if="!performer" src="../../../assets/images/loader.gif" />
                        <router-link v-if="performer" :to="{ name: 'Profile', params: { id: performer.advertId }}">
                            <img :src="getAvatarImage(performer, 'medium')" />
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <pagination v-if="total != 0" :limit.sync="query.limit" :offset.sync="query.offset" :total="total" :pageButtons="true" :pageCount="true" v-on:pageChange="pageChanged"></pagination>

    </div>
</main>
